{% extends "layouts/main.html" %}
{% block pageTitle %}
  Which PSC are you?
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/account-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    


      <span class="govuk-caption-l">WRIGHT SOLUTIONS LTD</span>
      <h1 class="govuk-heading-l">Which person with significant control (PSC) are you?</h1>
      
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">HARRIS, Sally Louise</h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Role
                </dt>
                <dd class="govuk-summary-list__value">
                  PSC
                </dd>

              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                  April 1986
                </dd>

              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date added
                </dt>
                <dd class="govuk-summary-list__value">
                  16 December 2021
                </dd>

              </div>
              <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">
                <a href="psc-statement" class="govuk-link govuk-link--no-visited-state">I am Sally Louise Harris</a>
              </p>
            </dl>
          </div>
        </div>

<div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">PATEL, Lisa Ann</h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Role
                </dt>
                <dd class="govuk-summary-list__value">
                  PSC
                </dd>

              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                  January 1976
                </dd>

              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date added
                </dt>
                <dd class="govuk-summary-list__value">
                  3 January 2019
                </dd>

              </div>
              <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">
                <a href="psc-verified-failure" class="govuk-link govuk-link--no-visited-state">I am Lisa Ann Patel</a>
              </p>
            </dl>
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">MELLOR, David</h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Role
                </dt>
                <dd class="govuk-summary-list__value">
                  PSC
                </dd>

              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                  December 1989
                </dd>

              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date added
                </dt>
                <dd class="govuk-summary-list__value">
                  10 November 2018
                </dd>

              </div>
              <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">
                <a href="javascript:void(0)" class="govuk-link govuk-link--no-visited-state">I am David Mellor</a>
              </p>
            </dl>
          </div>
        </div>


    </div>
  </div>
{% endblock %}
