{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Check and submit your verification statements</h1>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><p class="govuk-body">I, <strong>Sally Louise Harris</strong>, declare I have verified my identity as a person with significant control (PSC) for WRIGHT SOLUTIONS LTD (02050399).</p></td>
          </tr>
        </tbody>
      </table>

      <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-7" data-module="govuk-button">
        I am a PSC for another company
      </button>
      <br>

      {{ govukButton({
        text: "Submit",
        href: "verified-success-psc"
      }) }}

    </div>
  </div>
{% endblock %}
