{% set title = "" %}
{% extends "layouts/main.html" %}

{% set serviceName %}
{{title}}
{% endset%}

{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <form action="other-appointments" method="post">

      <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>


      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Person with significant control (PSC)"
            },
            value: {
              html: "Sally Louise HARRIS<br> (Date of birth: April 1986)"
            },
            actions: {
              items: [
                {
                  href: "appointments",
                  text: "Change",
                  visuallyHiddenText: "Sally Louise HARRIS"
                }
              ]
            }
          }
        ]
      }) }}


        {{ govukButton({
         text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
