{% set title = "" %}
{% extends "layouts/main.html" %}

{% set serviceName %}
{{title}}
{% endset%}

{% block pageTitle %}
  Do you have more appointments at other companies? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          <form action="company-number" method="post">

              {% set html %}
              <h3 class="govuk-notification-banner__heading">
                You've told us which PSC you are for WRIGHT SOLUTIONS LTD, and declared that you've verified your identity.
              </h3>
              <!--<p class="govuk-body">Contact <a class="govuk-notification-banner__link" href="#">example@department.gov.uk</a> if you think there’s a problem.</p>-->
            {% endset %}

            {{ govukNotificationBanner({
              html: html,
              type: 'success'
            }) }}

            {{ govukRadios({
                classes: "govuk-radios--inline",
                name: "moreAppointments",
                fieldset: {
                  legend: {
                    text: "Are you a PSC for another company?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                hint: {
                  text: ""
                },
                items: [
                  {
                    value: "yes",
                    text: "Yes"
                  },
                  {
                    value: "no",
                    text: "No"
                  }
                ]
              }) }}

                 {{ govukButton({
                  text: "Continue"
                  }) }}
      </form>
    </div>
  </div>
{% endblock %}
