{% set title = "" %}
{% extends "layouts/main.html" %}

{% set serviceName %}
{{title}}
{% endset%}

{% block pageTitle %}
  Are you a PSC of an existing company? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          <form action="company-number" method="post">

            {% set html %}
              <h3 class="govuk-notification-banner__heading">
                You've verified your identity with GOV.UK One Login. 
              </h3>
              <p class="govuk-body">We've taken you back to Companies House.</p>
            {% endset %}

            {{ govukNotificationBanner({
              html: html,
              type: 'success'
            }) }}

            {{ govukRadios({
                classes: "govuk-radios--inline",
                name: "pscExisting",
                fieldset: {
                  legend: {
                    text: "Are you a person with significant control (PSC) of an existing company?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                hint: {
                  text: ""
                },
                items: [
                  {
                    value: "yes",
                    text: "Yes"
                  },
                  {
                    value: "no",
                    text: "No"
                  }
                ]
              }) }}

                 {{ govukButton({
                  text: "Continue"
                  }) }}
      </form>
    </div>
  </div>
{% endblock %}
