{% extends "layouts/main.html" %}

{% block pageTitle %}
  Success – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/account-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Success</h1>
      </div>

   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quisque non tellus orci ac auctor augue mauris. </p>

    <p class="govuk-body">Dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in. Etiam non quam lacus suspendisse faucibus interdum posuere.</p>
    
        <p class="govuk-body"> <a href="company-number">Verify your identity as a PSC of another company</a></p>


    
    
    
    <h3 class="govuk-heading-m">Feedback</h3>
      <p class="govuk-body">This is a new service. Help us improve it by completing our
        <a href="https://www.smartsurvey.co.uk/s/reptpscdisp-fdbk/">quick survey</a>.
      </p>


      <p class="govuk-body-s govuk-!-margin-top-7"><a href="psc-verified-failure">Failure</a></p>

    </div>
  </div>

{% endblock %}
