{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/account-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">You need to update your PSC details</h1>

        <p class="govuk-body">Your identity verification details do not match the information we hold at Companies House.</p>

        <h3 class="govuk-heading-m">What you need to do next</h3>

        <p class="govuk-body">Update your PSC details at Companies House so that the information you gave to GOV.UK One Login matches our records.</p>

        {{ govukWarningText({
          text: "If you fail to do this, your identity verification is not complete and you may face penalties and sanctions.",
          iconFallbackText: "Warning"
        }) }}

        <h3 class="govuk-heading-m">What you need to update your details</h3>

        <p class="govuk-body">You'll need your personal verification code: <strong>2F3P8MZ6</strong> </p>

        <p class="govuk-body">If you want to update your PSC details online, make sure you have your <a href="https://www.gov.uk/guidance/company-authentication-codes-for-online-filing" class="govuk-link" rel="noreferrer noopener" target="_blank">company authentication code (opens in new tab)</a>.</p>

        {{ govukButton({
          text: "Update your PSC details",
          href: "https://www.gov.uk/topic/company-registration-filing/forms"
        }) }}


        <h3 class="govuk-heading-m">Feedback</h3>
        <p class="govuk-body">This is a new service. Help us improve it by completing our
          <a href="https://www.smartsurvey.co.uk/s/reptpscdisp-fdbk/">quick survey</a>.
        </p>

    </div>
  </div>

{% endblock %}
