{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/account-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">You need to update your PSC details</h1>

        <p class="govuk-body">Your identity verification details do not match the information we hold at Companies House.</p>

        <h3 class="govuk-heading-m">What you need to do next</h3>

        <p class="govuk-body">Update your PSC details at Companies House so that the information you gave to GOV.UK One Login matches our records.</p>

        <p class="govuk-body">You'll need your personal verification code to do this: <strong>2F3P8MZ6</strong> </p>

        <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/file-changes-to-a-company-with-companies-house">
        Update your PSC details</a>.</p>

        <h3 class="govuk-heading-m">Feedback</h3>
        <p class="govuk-body">This is a new service. Help us improve it by completing our
          <a href="https://www.smartsurvey.co.uk/s/reptpscdisp-fdbk/">quick survey</a>.
        </p>

    </div>
  </div>

{% endblock %}
