{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/account-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Identity verification failed</h1>

<p class="govuk-body"><strong>{{ data['emailAddress'] }}</strong> isn't authorised for the appointment of <strong>Lisa Ann Patel.</strong></p>

<p class="govuk-body">You need to ask   WRIGHT SOLUTIONS LTD to invite <strong>{{ data['emailAddress'] }}</strong>, then try to verify this appointment.</p>

 <h3 class="govuk-heading-m">What do you want to do next?</h3>

<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="ch-will-contact-company">Share my details with the company</a>
  </li>
  <li>
    <a class="govuk-link" href="psc-user-must-contact-company">Contact the company</a>
  </li>
  <li>
    <a class="govuk-link" href="psc-user-must-update">Update my PSC details</a></a>
  </li>
</ul>


      <h3 class="govuk-heading-m">Feedback</h3>
      <p class="govuk-body">This is a new service. Help us improve it by completing our
        <a href="https://www.smartsurvey.co.uk/s/reptpscdisp-fdbk/">quick survey</a>.
      </p>

    </div>
  </div>

{% endblock %}
