{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/account-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
        Identity verification complete
        </h1>
           <div class="govuk-panel__body">
        Keep your code safe
           </div>
        </div>

      <!--<div class="govuk-panel govuk-panel--confirmation">-->
      
      <!--</div>-->

   
        <p class="govuk-body govuk-!-font-weight-bold">Your personal verification code is: 2F3P8MZ6</p>
      

      <p class="govuk-body">We've sent your code to <strong>{{ data['emailAddress'] }}</strong>.
      </p>

      <h2 class="govuk-heading-m">What you need to do with your code </h2>

      <p class="govuk-body">This code links your verified identity to your Companies House records. Only share it with people you trust to file on your behalf. We’ll ask for your code in some future filings.
      </p>


      <h3 class="govuk-heading-m">Feedback</h3>
      <p class="govuk-body">This is a new service. Help us improve it by completing our
        <a href="https://www.smartsurvey.co.uk/s/reptpscdisp-fdbk/">quick survey</a>.
      </p>

    </div>
  </div>

{% endblock %}
