{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation email – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
<p>Email subject line: <strong>You've verified your identity for Companies House</strong></p>

<br>

<p>You successfully verified your identity for Companies House on 22 April 2025.</p>

<h1 class="govuk-heading-m">Your details</h1>

<p>Name: [TBC whether we show full name or just surname]</p>

<p>Companies House personal code: <strong>X77-R2D2-C3PQ</strong></p>

<p>Keep your code safe. Only share it with people you trust to file on your behalf.</p>

{% endblock %}
