{% extends "layouts/main.html" %}

{% block pageTitle %}
  You have failed to verify your identity for Companies House – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/account-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">You cannot use GOV.UK One Login to verify your identity</h1>

    <p class="govuk-body">You have not been able to prove who you are using GOV.UK One Login. You will not be able to verify your identity using the mobile phone app, online, or in person at the Post Office.</p>

    <h2 class="govuk-heading-m">Next steps</h2>
    
    <p class="govuk-body"><a href="https://www.gov.uk/guidance/verifying-your-identity-for-companies-house" class="govuk-link">Check the guidance</a> and select 'Ways to verify your identity' to find other ways you can try and verify.
    </p>

    <h2 class="govuk-heading-m">What happens if you do not verify </h2>

    <p class="govuk-body">
      There will be a transition period for existing directors and people with significant control (PSCs), so that you have time to do what the regulations require. <a href="https://www.gov.uk/guidance/when-you-need-to-verify-your-identity-for-companies-house" class="govuk-link">
        Find out when you need to verify your identity</a>.
    </p>

    {{ govukWarningText({
      text: "If you do not comply with identity verification requirements on time, you may be committing an offence and may have to pay a financial penalty or fine.",
      iconFallbackText: "Warning"
    }) }}

    <p class="govuk-body">You will also be unable to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>make any filings for your company or entity</li>
      <li>start a new company or entity</li>
      <li>register as a Companies House authorised agent</li>
    </ul>

<h3 class="govuk-heading-s">Directors</h3>

<p class="govuk-body">
If you continue to act as a director after the deadline without verifying, you will be committing an offence. The company (or entity) and all directors may also be committing an offence.
</p>

<h3 class="govuk-heading-s">People with significant control (PSCs)</h3>

<p class="govuk-body">
If you continue to be a PSC after the deadline without verifying, you may be committing an offence.
</p>

    <h2 class="govuk-heading-m">If you still need help</h2>

    <p class="govuk-body">
      <a href="https://home.account.gov.uk/contact-gov-uk-one-login" class="govuk-link">Contact GOV.UK One Login</a> if you still need help. For security reasons, they will not be able to tell you why you cannot verify using GOV.UK One Login. 
    </p>

    <p class="govuk-body">
      Do not contact Companies House, as we are not able to help with this.
    </p>



    <h3 class="govuk-heading-s">Feedback</h3>
    <p class="govuk-body">This is a new service. Help us improve it by completing our
      <a href="#">quick survey</a>.

  </div>
</div>

{% endblock %}
