{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation email – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
<p><strong>Email subject line: </strong>Identity verified: next steps to complete verification requirements</p>

<br>

<h1 class="govuk-heading-l">Identity verified: next steps to complete verification requirements</h1>

<p class="govuk-body">You’ve successfully verified your identity for Companies House. This email contains your Companies House personal code, and important information about what you need to do next to complete all identity verification requirements.</p>

<div class="highlight-box"> 
      <h1 class="govuk-heading-m">Your details</h1>
      <p class="govuk-body">Last name: Williams</p>
      <p class="govuk-body">Companies House personal code: <strong>2F3P8MZ6</strong></p>

      <p class="govuk-body">Keep your code safe. You can share it with people if they file on your behalf. For example, if you use an agent like an accountant or company secretary provider.</p>
  </div>

  <h2 class="govuk-heading-m">Next steps to complete verification requirements</h2>

   <p class="govuk-body">What you need to do next depends on your role, and when you started that role.</p>

{% endblock %}
