{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation email – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
<p><strong>Email subject line: </strong>Identity verified: check if you have more steps to complete verification requirements</p>

<br>

<h1 class="govuk-heading-l">Identity verified: check if you have more steps to complete verification requirements</h1>

<p class="govuk-body">You’ve successfully verified your identity for Companies House. This email contains your Companies House personal code, and important information about whether there’s more you need to do to complete all identity verification requirements.</p>

<div class="highlight-box"> 
      <p class="govuk-body">Companies House personal code: <strong>XXX-9999-9999</strong></p>

      <p class="govuk-body">Keep your code safe. You can share it with people if they file on your behalf. For example, if you use an agent like an accountant or company secretary provider.</p>
  </div>

  <h2 class="govuk-heading-m">Next steps</h2>

  <h3 class="govuk-heading-s">If you are a director or PSC (or both)</h3>

   <p class="govuk-body">What you need to do next depends on your role, and when you started that role.</p>

   <p class="govuk-body">You’ll need to use your Companies House personal code to connect your verified identity to our records for each role you hold. This is part of the legal requirement to verify your identity for Companies House.</p>

    <p class="govuk-body">For more information, read the 'How to use your personal code' section of the personal code guidance:</p>

     <p class="govuk-body"><a href="https://www.gov.uk/guidance/companies-house-personal-codes-for-identity-verification" class="govuk-link">https://www.gov.uk/guidance/companies-house-personal-codes-for-identity-verification</a></p>

      <h3 class="govuk-heading-s">If you are an Authorised Corporate Service Provider (ACSP)</h3>

    <p class="govuk-body">You have completed verification requirements. You can now register as an ACSP (this is also known as an authorised agent):</p>

     <p class="govuk-body"><a href="https://www.gov.uk/guidance/applying-to-register-as-a-companies-house-authorised-agent" class="govuk-link">https://www.gov.uk/guidance/applying-to-register-as-a-companies-house-authorised-agent </a></p>


      <h2 class="govuk-heading-m">Where your personal code is stored</h2>

        <p class="govuk-body">As well as in this email, you can find your personal code in the ‘Manage account’ section when you sign in to your Companies House account:</p>

        <p class="govuk-body">
  <a href="https://find-and-update.company-information.service.gov.uk/ " class="govuk-link">https://find-and-update.company-information.service.gov.uk/</a></p>

 <p class="govuk-body">The following video also explains where you can find your personal code: </p>

<p class="govuk-body">
 <a href="https://www.youtube.com/watch?app=desktop&v=H9Z49uYr9y8 " class="govuk-link">https://www.youtube.com/watch?app=desktop&v=H9Z49uYr9y8</a>
</p>
<br>
  <p class="govuk-body">This email was sent from an email address which cannot accept incoming mail. Do not reply directly to this message.</p>

{% endblock %}
