{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation email – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
<p><strong>Email subject line: </strong>Here is your personal code: what you need to do next</p>

<br>

<h1 class="govuk-heading-l">Here is your personal code: what you need to do next</h1>

<p class="govuk-body">This email contains your Companies House personal code, and important information about the next steps to complete all identity verification requirements.</p>

<div class="highlight-box"> 
      <p class="govuk-body">Companies House personal code: <strong>XXX-9999-9999</strong></p>
  </div>
<br>
  <h2 class="govuk-heading-m">Next steps to complete all identity verification requirements</h2>

    <p class="govuk-body">Depending on your role, you must provide your personal code when you submit certain filings to Companies House. This is what connects your verified identity to our records. It's part of the legal requirement to verify your identity for Companies House.</p>

    <p class="govuk-body">
    This applies if you are a:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>director (or equivalent), or are going to be one</a></li>
      <li>person with significant control (PSC), or are going to be one</li>
    </ul>

     <p class="govuk-body">You need to use your code for each role you hold, and for every company you're involved with.</p>

    <p class="govuk-body">For more information, read the 'How to use your personal code' section of the ‘Companies House personal codes for identity verification’ guidance: <br> <a href="https://www.gov.uk/guidance/companies-house-personal-codes-for-identity-verification" class="govuk-link govuk-link--no-visited-state">gov.uk/guidance/companies-house-personal-codes-for-identity-verification</a>
    </p>

    <h3 class="govuk-heading-s">If you're currently a director or PSC</h3>

    <p class="govuk-body">You'll need to provide your code when you submit certain filings. For example, directors will need to provide it on their company's confirmation statement. PSCs will need to provide it on their verification statement.</p> 
    
 <h3 class="govuk-heading-s">If you're going to be appointed as director or become a PSC</h3>

       <p class="govuk-body">
   You'll need to provide the code when you submit the filing to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>appoint a director</a></li>
      <li>give notice of a PSC</li>
    </ul>

       <p class="govuk-body">If you're both a director and a PSC, you'll need to provide the same personal code separately for each role, and for every company you're involved with.</p> 

        <h3 class="govuk-heading-s">If you're incorporating a company </h3>

    <p class="govuk-body">You'll need to provide the code when you submit the filing to incorporate the company. </p> 

 <h2 class="govuk-heading-m">About your personal code</h2>

    <p class="govuk-body">You'll only need one personal code for Companies House. You'll use the same code for all your roles and companies.</p>

      <p class="govuk-body">The code is personal to you, not your company or a company you work for.</p>

        <p class="govuk-body">You should keep your code safe. If you use an Authorised Corporate Service Provider (ACSP), such as an agent or an accountant, you will need to share it with them if they file on your behalf.</p>

  <p class="govuk-body">Your code is not the same as the company authentication code. If you have an authentication code, you should continue to keep this safe as you'll need it to file online. </p>


      <h2 class="govuk-heading-m">Where your personal code is stored</h2>

        <p class="govuk-body">As well as in this email, you can find your personal code in the ‘Manage account’ section when you sign in to your Companies House account:
          <br>
          <a href="find-and-update.company-information.service.gov.uk" class="govuk-link govuk-link--no-visited-state">find-and-update.company-information.service.gov.uk</a>
        </p>

        <br>

  <p class="govuk-body">This email was sent from an email address which cannot accept incoming mail. Do not reply directly to this message.</p>

{% endblock %}
