//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
.account-banner {
    text-align: right;
    font-size: 16px;
    font-family: 'proxima_nova', Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    z-index: 60;
    clear: none;
    background: transparent;
    border-bottom: 1px solid #bfc1c3;
    vertical-align: middle;
    padding-bottom: 20px;
}

.spinner {
    width: 80px;
    height: 80px;
    margin-bottom: 24px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  //Styles for user bar

ul#navigation {
  font-size: 0.9em;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: right;
  display: inline-block;
  float: right;
  li {
    display: inline;
    font-family: 'nta', Arial;
    font-size: 16px;
    overflow-wrap: break-word;
    a {margin-left: 0.9em;}
  }
}
.no-wrap {
  white-space: nowrap;
}


.no-border-backlink {
  border: none;
}

.highlight-box {
  background-color: #f9f9f8;
  border-style: solid;
  border-width: thin;
  border-color: #bfc1c3;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 15px;
}