{% extends "layouts/main.html" %}

{% block pageTitle %}
  You have failed to verify your identity for Companies House – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/account-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Verify your identity using alternative route</h1>

      <p class="govuk-body">...</p> 

      {{ govukButton({
        text: "Continue",
        href: "#"
      }) }}

    </div>
  </div>

{% endblock %}
