{% extends "layouts/main.html" %}

{% block pageTitle %}
  You have failed to verify your identity for Companies House – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/account-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Use vouching and evidence to verify your identity for Companies House </h1>

      <p class="govuk-body-l">How to verify your identity by asking someone to vouch for you, and providing evidence. </p>

     

      <h2 class="govuk-heading-l">What evidence you’ll need </h2>

      <h3 class="govuk-heading-m">Identity documents </h3>

<p>You will need to provide 2 documents in total. You must provide at least one photographic document.</p>

<p class="govuk-body">You can provide <strong>either</strong>:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>2 documents from group A</li>
  <li>1 document from group A, and 1 document from group B</li>
</ul>

<h3 class="govuk-heading-s">Group A</h3>

      <p class="govuk-body">You can use:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>passport </li>
  <li>driving licence </li>
  <li>[other types of ID]</li>
</ul>

<h3 class="govuk-heading-s">Group B</h3>

      <p class="govuk-body">You can use:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>a utility bill </li>
  <li>a mortgage statement </li>
  <li>[other types of documents] </li>
</ul>

<h3 class="govuk-heading-m">Translations </h3>

<p>If any of the documents you upload are written in a language other than English, you’ll also need to upload a translation of the document.</p>

<p>In names that use non-English characters, you’ll need to provide a transliteration. This means converting them from the original text into the equivalent sounds and letters in the English alphabet. For example, the Greek name "Ελένη" is transliterated as ‘Eleni’ in English. </p>

<p>We can accept diacritics (signs above or below letters that change the pronunciation). For example, an accent above the letter é, or a cedilla below the letter ç.</p>

<p>You will need to declare that you certify that the original document has been translated.</p>

<h3 class="govuk-heading-m">Video </h3>

<p>You’ll need to record a video of yourself. We’ll provide instructions for how to do this in this service.</p>

<p class="govuk-body">When you record the video, make sure you are: </p>
<ul class="govuk-list govuk-list--bullet">
  <li>in a well-lit room </li>
  <li>not using any background effects </li>
</ul>

<p>After you've uploaded all your evidence, you'll then need to ask someone to vouch for you. </p>

<h2 class="govuk-heading-l">What vouching is </h2>

<p>Vouching is when a person declares they know another person, and that they are who they say they are. </p>

<p>The person who is doing the vouching is known as a 'voucher'. </p>

<h2 class="govuk-heading-l">Who can vouch for your identity  </h2>

<p>Someone can vouch for you if they meet the following conditions. </p>

<p class="govuk-body">They must:  </p>
<ul class="govuk-list govuk-list--bullet">
  <li>be in a position of authority in their community - for example, a teacher, doctor, solicitor or company director  </li>
  <li>have known you for X years </li>
  <li>have verified their own identity using GOV.UK One Login  </li>
  <li>be based in the UK at the time of vouching </li>
  <li>be able to vouch that you look like who you claim to be </li>
</ul>

<p class="govuk-body">They must <strong>not</strong>:  </p>
<ul class="govuk-list govuk-list--bullet">
  <li>be related to you by birth or marriage, or another family relationship (such as adoption) </li>
  <li>be in a relationship with you </li>
  <li>live with you </li>
</ul>

<p>Check the complete list of <a href="https://www.gov.uk/government/publications/how-to-accept-a-vouch-as-evidence-of-someones-identity/who-can-vouch-for-someones-identity" class="govuk-link">people who can vouch for someone's identity</a>. It is your responsibility to find someone who will vouch for you.</p>

<h2 class="govuk-heading-l">How to ask someone to vouch for you</h2>

<p>[TBC - will update when we know how this will work]</p>

<h2 class="govuk-heading-l">What happens next</h2>

<p>After you've uploaded your evidence and it's been accepted, and your voucher has done XYZ [whatever the voucher needs to do], we'll email your Companies House personal code to you. </p>

<h3 class="govuk-heading-m">What a Companies House personal code is</h3>

<p>This is an 11 character code that is given to a person once they've verified their identity. The code is personal to you, not your company or a company you work for.</p>

<p class="govuk-body">You'll need your personal code for various reasons. For example:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>as part of some company filings, such as the confirmation statement </li>
  <li>if you are appointed as a director</li>
  <li>if you become a person with significant control (PSC)</li>
</ul>

<h2 class="govuk-heading-l">Use vouching and evidence to verify your identity for Companies House</h2>

<p class="govuk-body">Before you start, you'll need to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>take photos of the evidence you're going to upload</li>
  <li>prepare translations (if relevant)</li>
  <li>ask someone to vouch for you </li>
</ul>

<p>This service takes around 10 minutes to complete. You can save your answers and continue later.</p>


{{ govukButton({
  text: "Start now",
  href: "full-name",
  isStartButton: true
}) }}


    </div>
  </div>

{% endblock %}
