{% extends "layouts/main.html" %}

{% block pageTitle %}
  Company information – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/account-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Company information</h1>

     <div id="passport-issued-hint" class="govuk-hint">
      The following questions are optional. However, any information you are able to provide will help us process your application and contact you at the most appropriate time.
    </div>

    <form action="{{currentUrl}}" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="directorDifferentName-hint">
          <legend class="govuk-fieldset__legend">
          <h2 class="govuk-heading-s">Are you a company director?</h2>
        
          </legend>

          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="directorDifferentName" name="directorDifferentName" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="directorDifferentName">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="directorDifferentName-2" name="directorDifferentName" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="directorDifferentName-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="directorNumber">
          <h2 class="govuk-heading-s">How many companies are you a director for?</h2>
          
        </label>
         <div id="directorNumber-hint" class="govuk-hint">
          
        </div>
        <input class="govuk-input govuk-input--width-4" id="directorNumber" name="directorNumber" type="text">
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="confirmationDate-hint">
          <label class="govuk-label" for="confirmationDate">
            <h2 class="govuk-heading-s">When is your next confirmation statement due?</h2>
            
          </label>
          <div id="signIn-hint" class="govuk-hint">
            For example, 27 8 2026
          </div>
          <div class="govuk-date-input" id="confirmationDate">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="confirmationDate-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="confirmationDate-day" name="confirmationDate-day" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="confirmationDate-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="confirmationDate-month" name="confirmationDate-month" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="confirmationDate-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="confirmationDate-year" name="confirmationDate-year" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            How to find the date your next confirmation statement is due 
          </span>
        </summary>
        <div class="govuk-details__text">

          <p class="govuk-body">You can find it by searching for the company on the 
            <a href="https://find-and-update.company-information.service.gov.uk/" class="govuk-link" rel="noreferrer noopener" target="_blank">Companies House register (opens in new tab)</a>.
          </p>

           <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
         Do not close this page. If you do, you will have to start again.
        </strong>
      </div>

          <p>If you are an officer of more than one company, enter the confirmation statement date that comes first.</p> 
          <p class="govuk-body">For example:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>COMPANY A LTD's confirmation statement is due on 23 April 2026</li>
            <li>COMPANY B LTD's confirmation statement is due on 16 July 2026</li>
          </ul>
          <p>As COMPANY A LTD's confirmation statement is due first, you would need to enter 23 4 2026.</p>
        </div>
      </details>

      <div class="govuk-form-group">
        <label class="govuk-label" for="companyNumber">
          <h2 class="govuk-heading-s">Which company is the confirmation statement for?</h2>
          
        </label>
         <div id="companyNumber-hint" class="govuk-hint">
          Enter the company number.
        </div>
        <input class="govuk-input govuk-!-width-one-quarter" id="companyNumber" name="companyNumber" type="text">
      </div>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          How to find the company number
          </span>
        </summary>
        <div class="govuk-details__text"> <p class="govuk-body">
        You can find this by searching for the company on the <a class="govuk-link" href="https://find-and-update.company-information.service.gov.uk/">Companies House register (opens in new tab)</a>.</p>
        

        
                <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
              Do not close this page. If you do, you will have to start again.
              </strong>
            </div>
        </div>
        
      </details>

      {{ govukButton({
        text: "Submit"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
