{% extends "layouts/main.html" %}

{% block pageTitle %}
  You have failed to verify your identity for Companies House – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/account-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorConfirmationDate %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errorList
    }) }}
    {% endif %}

 
    <form action="{{currentUrl}}" method="post">
      
      <!-- Check for error -->
      {% if errorConfirmationDateDay or errorConfirmationDateMonth or errorConfirmationDateYear%}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" role="group" aria-describedby="confirmation-date-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              When is your next confirmation statement due?
            </h1>

          </legend>
          <!-- Check for error -->
          {% if errorConfirmationDateDay or errorConfirmationDateMonth or errorConfirmationDateYear%}
          <p id="directorDob-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> The date must include a day, month and year
          </p>
          {% endif %} 
          <div id="confirmation-date-hint" class="govuk-hint">
            For example, 27 8 2026. This information will help us process your application.
          </div>
          <div class="govuk-date-input" id="confirmation-date">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="confirmation-date-day">
                  Day
                </label>
                <!-- Check for error -->
                {% if errorConfirmationDateDay %}
                <input class="govuk-input govuk-date-input__input govuk-input--width-2 govuk-input--error" id="confirmation-date-day" name="confirmation-date-day" type="text" inputmode="numeric">
                {% else %}
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="confirmation-date-day" name="confirmation-date-day" type="text" inputmode="numeric">
                {% endif %} 
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="confirmation-date-month">
                  Month
                </label>
                <!-- Check for error -->
                {% if errorConfirmationDateMonth %}
                <input class="govuk-input govuk-date-input__input govuk-input--width-2 govuk-input--error" id="confirmation-date-month" name="confirmation-date-month" type="text" inputmode="numeric">
                {% else %}
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="confirmation-date-month" name="confirmation-date-month" type="text" inputmode="numeric">
                {% endif %} 
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="confirmation-date-year">
                  Year
                </label>
                <!-- Check for error -->
                {% if errorConfirmationDateYear %}
                <input class="govuk-input govuk-date-input__input govuk-input--width-4 govuk-input--error" id="confirmation-date-year" name="confirmation-date-year" type="text" inputmode="numeric">
                {% else %}
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="confirmation-date-year" name="confirmation-date-year" type="text" inputmode="numeric">
                {% endif %} 
              </div>
            </div>
          </div>
        </fieldset>
      </div>

    <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      I am an officer of more than one company
    </span>
  </summary>
  <div class="govuk-details__text">
   <p>Enter the date your next confirmation statement is due. </p> 
   <p class="govuk-body">For example:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>COMPANY A LTD's statement is due on 23 April 2026</li>
  <li>COMPANY B LTD's statement is due on 16 October 2026</li>
</ul>
<p>As COMPANY A LTD's statement is due next, you should enter 23 4 2026.</p>

  </div>
</details>

<h2 class="govuk-heading-m">How to find the confirmation statement date</h2>

<p class="govuk-body">You can find it by searching for the company on the 
  <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Companies House register (opens in a new tab)</a>.</p>

  <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    If you need to check the register to find the date, do this in another tab or on a different device (if possible). If you close this tab, you will have to start again.
  </strong>
</div>



  
      
      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
