{% extends "layouts/main.html" %}

{% block pageTitle %}
  Enter your one login email
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorDetails %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form action="{{currentUrl}}" method="post">
      <h1 class="govuk-heading-l">What is your full name?</h1>
      <div id="passport-issued-hint" class="govuk-hint">
        Enter each name in full, not just initials.
      </div>

        <!-- Check for error -->
      {% if errorFirstName%}
        <div class="govuk-form-group govuk-form-group--error">
      {% else %}
        <div class="govuk-form-group">
      {% endif %} 
          <label class="govuk-label" for="firstName">
            First name
          </label>
          <div id="firstName-hint" class="govuk-hint">
            This is also known as your given name.
        </div>
          <!-- Check for error -->
        {% if errorFirstName %}
          <p id="firstName-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter your full first name
          </p>
        {% endif %} 
          <input class="govuk-input govuk-!-width-one-half" id="firstName" name="firstName" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="middleName">
          Middle names
        </label>
        <div id="middleName-hint" class="govuk-hint">
          
        </div>
          <input class="govuk-input govuk-!-width-one-half" id="middleName" name="middleName" type="text">
      </div>

      <!-- Check for error -->
      {% if errorLastName%}
        <div class="govuk-form-group govuk-form-group--error">
      {% else %}
        <div class="govuk-form-group">
      {% endif %} 
          <label class="govuk-label" for="lastName">
            Last name
          </label>
          <div id="lastName-hint" class="govuk-hint">
            This is also known as your family name.
          </div>
          
          <!-- Check for error -->
        {% if errorLastName %}
          <p id="lastName-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter your full last name
          </p>
        {% endif %} 
          <input class="govuk-input govuk-!-width-one-half" id="lastName" name="lastName" type="text">
        </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
