{% extends "layouts/main.html" %}

{% block pageTitle %}
  Alternative provider
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You've told us you want to provide evidence of your identity to Companies House
      </h1>

          <h2 class="govuk-heading-m">
       What happens next
      </h2>
  
      <p class="govuk-body">
       We'll email you at <strong>example@email.com</strong> with information about how to verify your identity. We'll aim to email you before 15 May 2026, which is the date you told us your next confirmation statement is due. You should check your inbox regularly, including your spam folder.</p>
       
       <p class="govuk-body">If your confirmation statement is due soon, we cannot guarantee we'll be able to contact you by this date.
      </p>

      <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    It could be up to 18 weeks before we email you.
  </strong>
</div>
  
       <p class="govuk-body">We'll let you know which identity documents you'll need when we email you. You'll be able to use a passport if you have one. If you do not already have a passport, and you are able to get one, you may wish to start the application process now.</p>



      <h2 class="govuk-heading-m">You can still verify using an Authorised Corporate Service Provider (ACSP)</h2>

      <p class="govuk-body">If you do not want to wait to verify by providing evidence to Companies House, you can
   <a href="https://prove-your-identity-prototype.herokuapp.com/alt-routes-v1/post-one-login/acsp-route" class="govuk-link">use an ACSP instead</a>. These are also known as Companies House authorised agents. </p>

   <p class="govuk-body">It can be quicker to verify your identity using an ACSP.</p>

    </div>
  </div>
  
  {% endblock %}
