{% extends "layouts/main.html" %}

{% block pageTitle %}
  Alternative provider
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You've told us you want to use evidence and vouching to verify your identity
      </h1>

          <h2 class="govuk-heading-m">
       What happens next
      </h2>
  
      <p class="govuk-body">
        We'll email you around X weeks before your next confirmation statement is due with further information about how to verify your identity using evidence and vouching.
      </p>
  
      <p class="govuk-body">
        If your next confirmation statement is due within the next X weeks, we'll email you soon.
      </p>
  
      <h2 class="govuk-heading-m">You can still verify using an Authorised Corporate Service Provider (ACSP)</h2>

      <p class="govuk-body">If you do not want to verify your identity using evidence and vouching, you can
   <a href="#" class="govuk-link">use an ACSP instead</a>. These are also known as Companies House authorised agents. </p>

    </div>
  </div>
  
  {% endblock %}
