{% extends "layouts/main.html" %}

{% block pageTitle %}
  Alternative provider
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You've told us you want to use evidence and vouching to verify your identity
      </h1>

          <h2 class="govuk-heading-m">
       What happens next
      </h2>
  
      <p class="govuk-body">
       We'll aim to email you at <strong>example@email.com</strong> before your next confirmation statement date, with information about how to verify your identity using evidence and vouching. However, if your confirmation statement is due soon, we cannot guarantee we'll be able to contact you by its due date. 
      </p>
  
      <h2 class="govuk-heading-m">You can still verify using an Authorised Corporate Service Provider (ACSP)</h2>

      <p class="govuk-body">If you do not want to wait to verify your identity using evidence and vouching, you can
   <a href="https://prove-your-identity-prototype.herokuapp.com/alt-routes-v1/post-one-login/acsp-route" class="govuk-link">use an ACSP instead</a>. ACSPs are also known as Companies House authorised agents. </p>

   <p class="govuk-body">It is usually quicker to verify your identity this way.</p>

    </div>
  </div>
  
  {% endblock %}
