{% extends "layouts/main.html" %}

{% block pageTitle %}
  You have failed to verify your identity for Companies House – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/account-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Provide details of the person who will vouch for you</h1>

      <h2 class="govuk-heading-m">Who can vouch for your identity  </h2>

      <p>Someone can vouch for you if they meet the following conditions. </p>
      
      <p class="govuk-body">They must:  </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>be in a position of authority in their community - for example, a teacher, doctor, solicitor or company director  </li>
        <li>have known you for X years </li>
        <li>have verified their own identity using GOV.UK One Login  </li>
        <li>be based in the UK at the time of vouching </li>
        <li>be able to vouch that you look like who you claim to be </li>
      </ul>
      
      <p class="govuk-body">They must <strong>not</strong>:  </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>be related to you by birth or marriage, or another family relationship (such as adoption) </li>
        <li>be in a relationship with you </li>
        <li>live with you </li>
      </ul>
      
      <p>Check the complete list of <a href="https://www.gov.uk/government/publications/how-to-accept-a-vouch-as-evidence-of-someones-identity/who-can-vouch-for-someones-identity" class="govuk-link">people who can vouch for someone's identity</a>. It is your responsibility to find someone who will vouch for you.</p>

      {{ govukButton({
        text: "Continue",
        href: "voucher-details"
      }) }}

    </div>
  </div>

{% endblock %}
