{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Verify your identity for Companies House 
      </h1>

      <p class="govuk-body">You need to verify your identity if you're a company director
         (or equivalent), a person with 
        significant control (PSC) or someone who files with Companies House.</p>

      <p class="govuk-body">Sign in to GOV.UK One Login to verify your identity for Companies House. </p>

      {{ govukButton({
        text: "Verify your identity",
        href: "sign-in-email",
        isStartButton: true
      }) }}

      <div class="grey-box">
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            Fraud warning: do not let others use your identity
          </strong>
        </div>
        <p class="govuk-body">Do not sell or give away your identity to set up or run a company. Criminals can 
          take out loans and other debt in your name, and you will be legally 
          responsible.  </p>
  
          <p class="govuk-body"><a href="guidance" class="govuk-link">Get advice about financial crime </a>.</p>
      </div>



      <!-- <div class="govuk-inset-text">
        <h2 class="govuk-heading-m">Fraud warning: do not let others use your identity </h2>

        <p class="govuk-body">Do not sell or give away your identity to set up or run a company. Criminals can 
          take out loans and other debt in your name, and you will be legally 
          responsible.  </p>
      
        <p class="govuk-body"><a href="guidance" class="govuk-link">Get advice about financial crime </a>.</p>
      </div> -->


    </div>
  </div>
{% endblock %}
