{% extends "layouts/main.html" %}

{% block pageTitle %}
How would you like to verify your identity with Companies House?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="{{currentUrl}}" method="post">

      <h1 class="govuk-heading-l">You need to verify your identity for Companies House</h1>
                  
      <p class="govuk-body">You only need to verify once, even if you have multiple roles for different 
        companies. </p>
      
      <h2 class="govuk-heading-m">How to verify your identity</h2>
      <p class="govuk-body">You can verify yourself online with GOV.UK if you have:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a home address in the UK or; </li>
        <li>a biometric passport from any country or;</li>
        <li>a UK photo driving licence</li>
      </ul>

      <p class="govuk-body">If you do not have a biometric ID but you 
        live in the UK, GOV.UK will guide you through an in-person service. </p>

      {{ govukDetails({
        summaryText: "What is a biometric passport?",
        text: "Biometric passports have a small rectangular symbol on the 
        front cover. You can use them to go through electronic gates at airports 
        and international train stations."
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
      
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            If you can’t use the GOV.UK service
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">You can ask a Companies House authorised agent (such as an 
            accountant or solicitor) to verify your identity on your behalf. You can do 
            this from any country, but your agent must be registered in the UK. </p>

          <p class="govuk-body"><a href="acsp-route.html" class="govuk-link">More about verifying with a Companies House authorised agent</a>.</p>
        </div>
      </details>

      <h2 class="govuk-heading-m">More about verifying</h2>

      <p>Read the <a href="guidance" class="govuk-link">guidance about verifying your identity</a>.</p>

    </form>
  </div>
</div>

{% endblock %}
