{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation email – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
<p><strong>Email subject line: </strong>Identity verification for Companies House outcome</p>

<br>

<h1 class="govuk-heading-xl">Identity verification for Companies House outcome</h1>


<p class="govuk-body"><strong>Your case reference number:</strong> HW123456</p>

  <p class="govuk-body">We have reviewed the information you submitted when you applied to verify your identity.</p>

<p class="govuk-body">Outcome: <strong>Unsuccessful</strong> </p>

 <p class="govuk-body">Based on the information you supplied, you have not been able to prove who you are to Companies House. For security reasons, we cannot tell you the reason why.</p>

 <h2 class="govuk-heading-l">Next steps</h2>

  <p class="govuk-body">You have 2 options to try and verify your identity.</p>

   <h3 class="govuk-heading-m">Option 1</h3>

  <p class="govuk-body">You can try and verify again using the 'Provide evidence of your identity to Companies House' service. Check the guidance in the email we previously sent you.</p>

    <h4 class="govuk-heading-s">What you'll need</h4>

<p class="govuk-body">You'll need to provide 2 documents to verify your identity, and a device with a camera (a smartphone or a tablet). You can ask someone, such as a friend or family member, to help you at any stage of the process if you need to.</p>

<div class="govuk-inset-text">
If you provide a document type that's <strong>not</strong> listed in this email, your application to verify your identity will be <strong>rejected</strong>.
</div>

 <h4 class="govuk-heading-s">1. Identity document</h4>

 <p class="govuk-body">This must be <strong>one</strong> of the following:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>your [nationality] passport</li>
  <li>your [nationality] driving licence</li>
  <li>your [nationality] national identity card - as long as your name and other details on the card are written in English</li>
</ul>

<p class="govuk-body">Your passport can be expired by up to 18 months.</p>
        
  <h4 class="govuk-heading-s">2. Supporting document</h4>

<p class="govuk-body">This must be <strong>one</strong> of the following:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>mortgage statement or rental agreement</li>
  <li>utility bill</li>
  <li>bank or building society statement</li>
  <li>insurance policy document</li>
  <li>health record</li>
  <li>employment record</li>
  <li>education or official qualification record</li>
</ul>

<div class="govuk-inset-text">
  <p>Your supporting document must be <strong>more than</strong> 6 months old. It shows us that your identity has existed over time. If your document is less than 6 months old, your application to verify your identity will be <strong>rejected</strong>.</p>
</div>

<p class="govuk-body">It must also:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>show your name as it appears in your identity document</li>
  <li>show the date of your document</li>
  <li>be an image of the original document</li>
</ul>

<h4 class="govuk-heading-s">How to prepare your documents to upload</h4>

<p class="govuk-body">The image must:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>be in colour</li>
  <li>be clear, in focus, and easy to read</li>
  <li>be taken in a well-lit room</li>
  <li>not be altered by computer software</li>
  <li>not be cut off or cropped </li>
  <li>not be scanned at an angle</li>
</ul>

<p class="govuk-body">The document must:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>be laid flat against a plain background - if you hold the document in your hand, make sure no information is hidden</li>
  <li>not be damaged or repaired</li>
</ul>

<p class="govuk-body">Make sure:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the expiry date of your identity document is within the accepted limits </li>
  <li>you follow all on screen instructions carefully to make sure your documents and face are captured correctly</li>
</ul>

<p class="govuk-body">Try the 'Provide evidence of your identity to Companies House' service again: <br>
  <a href="#" class="govuk-link govuk-link--no-visited-state">[Link]</a></p>

<p class="govuk-body">This link is unique, and can only be used by you. Do not share it with anyone.</p>

<p class="govuk-body">You can only use this link once. After you've opened it, do not close the browser. If you do, the link will no longer work and you'll need to request a new one.</p>

<p class="govuk-body">If you no longer have the email we previously sent you, contact us at <strong>IDVCaseTeam@companieshouse.gov.uk</strong>. Please include your case reference number (shown at the top of this email) and use the subject line: Provide evidence of my identity to Companies House - no longer have original email.</p>

<p class="govuk-body">The email address we've sent this email to can only be used by one person when verifying their identity. If it's a shared email address, anyone else who has access to
it will need to use a different one when verifying their identity.
</p>

   <h3 class="govuk-heading-m">Option 2</h3>

<p class="govuk-body">Ask an Authorised Corporate Service Provider (ACSP) if they can verify your identity. This is also known as an authorised agent.</p>

    <p class="govuk-body">Find out more about verifying using an ACSP: <br>
      
  <a href="https://identity.company-information.service.gov.uk/identity-verification/verifying-with-authorised-corporate-service-provider" class="govuk-link govuk-link--no-visited-state">https://identity.company-information.service.gov.uk/identity-verification/verifying-with-authorised-corporate-service-provider</a>

</p>


{% endblock %}
