{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation email – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
<p><strong>Email subject line: </strong>Placeholder</p>

<br>

<h1 class="govuk-heading-l">H1</h1>

<p class="govuk-body">Placeholder</p>

 <h2 class="govuk-heading-m">H2</h2>

  <p class="govuk-body">Placeholder</p>

  

{% endblock %}
