{% extends "layouts/main.html" %}

{% block pageTitle %}
  Identity verification complete – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Your identity is verified and connected to your Companies House account</h1>

    <p class="govuk-body">You may have to complete other tasks to comply with identity verification requirements. This depends on your role, and when you started that role.</p>

    <p class="govuk-body">To find out if there’s anything else you need to do,
      <a href="https://www.gov.uk/guidance/verifying-your-identity-for-companies-house#what-you-need-to-do-with-your-companies-house-personal-code" class="govuk-link" rel="noreferrer noopener" target="_blank">check the guidance (opens in new tab)</a>.
    </p>

  </div>
</div>


{% endblock %}
