{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  {{ govukTag({
    classes: "govuk-tag--blue govuk-!-margin-bottom-4",
    text: "Personal code binding - v1"
  }) }}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
       Verify your identity for Companies House <span class="govuk-caption-xl">(and then verify your appointments, if applicable)</span>
      </h1>

      <a href="have-you-verified" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start
      </a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            UVID
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                111-2222-3333
              </dt>
              <dd class="govuk-summary-list__value">
                Entered incorrect details too many times screen
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                444-5555-6666
              </dt>
              <dd class="govuk-summary-list__value">
                Entered incorrect details error
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <h2 class="govuk-heading-m" id="authScreens">Individual screen links</h2>

      <h3 class="govuk-heading-s">Personal code binding</h3>

      <ul class="govuk-list govuk-list--bullet">
    
        <li>
          <a class="govuk-link" href="../uvid-binding/have-you-verified">Have you verified</a>
        </li>  
        <li>
          <a class="govuk-link" href="../uvid-binding/verified-details">Verified details</a>
        </li>  
        <li>
          <a class="govuk-link" href="../uvid-binding/binding-fail">Binding failed</a>
        </li>  
        <li>
          <a class="govuk-link" href="../uvid-binding/binding-success">Binding success</a>
        </li>  
      </ul>

      <h3 class="govuk-heading-s">One Login screens <strong class="govuk-tag govuk-tag--pink">
        Not for development
      </strong></h3> 

      <ul class="govuk-list govuk-list--bullet"> 
        <li>
          <a class="govuk-link" href="../pre-one-login/create-or-sign-in">Create a GOV.UK One Login or sign in</a>
        </li>
        <li>
          <a class="govuk-link" href="../one-login/one-login-id">Tell us if you have one of the following types of photo ID</a>
        </li>  
        <li>
          <a class="govuk-link" href="../one-login/one-login-post-office">Prove your identity at a Post Office</a>
        </li> 
        <li>
          <a class="govuk-link" href="../one-login/one-login-another-way">Find another way to prove your identity</a>
        </li>  
        <li>
          <a class="govuk-link" href="../one-login/one-login-working">Going through One Login journey...</a>
        </li>    
        <li>
          <a class="govuk-link" href="../one-login/success">Continue to the service you want to use</a>
        </li>    
      </ul>

      <h3 class="govuk-heading-s">Post One Login screens</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="../post-one-login/verified-success.html">Confirmation page</a>
        </li>
        <li>
          <a class="govuk-link" href="../post-one-login/failure-evidence.html">Failed - lack of evidence</a>
        </li>
        <li>
          <a class="govuk-link" href="../post-one-login/failure-blocked.html">Failed - blocked</a> 
        </li>
      </ul>

      <h3 class="govuk-heading-s">Error pages</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="../pre-one-login/service-unavailable.html">Service unavailable</a>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m" id="authScreens">Changes to the prototype in this version</h2>
      <ul class="govuk-list govuk-list--bullet">      
        <li>
          Account binding screens added -
          <ul class="govuk-list govuk-list--number">      
            <li>
              Have you verified
            </li>
            <li>
              Verified details
            </li>
            <li>
              Verified fail
            </li>
            <li>
              Verified success
            </li>
          </ul>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m" id="authScreens">User research</h2>
      <ul class="govuk-list govuk-list--bullet">      
        <li>
          <a class="govuk-link" target="_blank" href="#">tbd</a>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m" id="authScreens">Journey flow</h2>
      <ul class="govuk-list govuk-list--bullet">      
        <li>
          <a class="govuk-link" target="_blank" href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1734356784553/d8438c30b8fa29fae6fe7baf9377534b239c0a11">UVID binding screen flows</a>
        </li>
      </ul>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m">
        Related IDV services
      </h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Links</th>

            <th class="govuk-table__header" scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="https://register-an-acsp-prototype.herokuapp.com/" target="_blank">Apply to register as a Companies House authorised agent</a>
            </td>
          
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">
                PROTOTYPE
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="https://idv-sign-in-prototype-7fe752c06ff9.herokuapp.com/" target="_blank">IDV sign in</a>
            </td>
          
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">
                PROTOTYPE
              </strong>
            </td>
          </tr>
        </tbody>
      </table>





{% endblock %}
