{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation email – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
<p><strong>Email subject line: </strong>Action required within 10 days: Provide evidence of your identity to Companies House</p>

<br>

<h1 class="govuk-heading-xl">Provide evidence of your identity to Companies House</h1>

<p class="govuk-body"><strong>Your case reference number:</strong> HW123456</p>

  <p class="govuk-body">You previously told us you want to verify your identity by providing evidence to Companies House.</p>

  <p class="govuk-body">Read this email carefully. It will tell you what you'll need, and how to verify your identity this way.</p>

  <p class="govuk-body">The email address we've sent this email to can only be used by one person when verifying their identity. If it's a shared email address, anyone else who has access to it will need to use a different one when verifying their identity.</p>

   <h2 class="govuk-heading-l">What you'll need</h2>

    <p class="govuk-body">You'll need to provide 2 documents to verify your identity, and a device with a camera (a smartphone or a tablet). You can ask someone, such as a friend or family member, to help you at any stage of the process if you need to.</p>

<div class="govuk-inset-text">
If you provide a document type that's <strong>not</strong> listed in this email, your application to verify your identity will be <strong>rejected</strong>.
</div>

    <!--
    <p class="govuk-body"><strong>Important!</strong><br>
    If you provide a document type that's <strong>not</strong> listed in this email, your application to verify your identity will be <strong>rejected</strong>.</p>-->

       <h3 class="govuk-heading-m">1. Identity document</h3>

<p class="govuk-body">This must be <strong>one</strong> of the following:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>your [first nationality] passport</li>
  <li>your [second nationality] passport</li>
  <li>your [third nationality] passport</li>
  <li>your [first nationality] driving licence</li>
  <li>your [second nationality] driving licence</li>
  <li>your [third nationality] driving licence</li>
  <li>your [first nationality] national identity card - as long as your name and other details on the card are written in English</li>
   <li>your [second nationality] national identity card - as long as your name and other details on the card are written in English</li>
    <li>your [third nationality] national identity card - as long as your name and other details on the card are written in English</li>
</ul>

<p class="govuk-body">Your passport can be expired by up to 18 months.</p>

  <h3 class="govuk-heading-m">2. Supporting document</h3>

<p class="govuk-body">This must be <strong>one</strong> of the following:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>mortgage statement or rental agreement</li>
  <li>utility bill</li>
  <li>bank or building society statement</li>
  <li>insurance policy document</li>
  <li>health record</li>
  <li>employment record</li>
  <li>education or official qualification record</li>
</ul>

<div class="govuk-inset-text">
  <p>Your supporting document must be <strong>more than</strong> 6 months old. It shows us that your identity has existed over time. If your document is less than 6 months old, your application to verify your identity will be <strong>rejected</strong>.</p>
</div>

<p class="govuk-body">It must also:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>show your name as it appears in your identity document</li>
  <li>show the date of your document</li>
  <li>be an image of the original document</li>
</ul>

<h4 class="govuk-heading-s">How to prepare your documents to upload</h4>

<p class="govuk-body">The image must:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>be in colour</li>
  <li>be clear, in focus, and easy to read</li>
  <li>be taken in a well-lit room</li>
  <li>not be altered by computer software</li>
  <li>not be cut off or cropped </li>
  <li>not be scanned at an angle</li>
</ul>

<p class="govuk-body">The document must:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>be laid flat against a plain background - if you hold the document in your hand, make sure no information is hidden</li>
  <li>not be damaged or repaired</li>
</ul>

<h3 class="govuk-heading-m">3. Device with a camera</h3>

<p class="govuk-body">You'll need a device with a camera (either a smartphone or a tablet), so that you can:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>scan a QR code to enter the service (if you're currently on a computer)</li>
  <li>provide your identity document and supporting document</li>
  <li>authenticate your identity using facial recognition</li>
</ul>

<p class="govuk-body">When you scan your face for facial recognition, you must:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>look straight ahead, directly at the camera</li>
  <li>be in a well-lit room</li>
</ul>

  <h2 class="govuk-heading-l">Verify your identity</h2>

<p class="govuk-body">When you've prepared what you need, select the following link. We'll take you to our external provider to verify your identity for Companies House. You need to verify your identity within 10 days of receiving this email.</p>

<p class="govuk-body"><strong>Link to verify your identity:</strong><br>
  <a href="#" class="govuk-link govuk-link--no-visited-state">[Link]</a></p>

<p class="govuk-body">This link is unique, and can only be used by you. Do not share it with anyone.</p>

<p class="govuk-body">You can only use this link once. After you've opened it, do not close the browser. If you do, the link will no longer work and you'll need to request a new one.</p>

<p class="govuk-body">If you're currently on a computer, after you select the link we'll ask you to scan a QR code. The service you'll be using to verify your identity works best with a smartphone. You could use a tablet instead if you prefer.</p>

<h4 class="govuk-heading-s">How to scan a QR code on a smartphone or tablet</h4>

<ol class="govuk-list govuk-list--number">
  <li>Open the camera.</li>
  <li>Hold your device in front of the QR code to scan it.</li>
  <li>Select the link on the screen.</li>
</ol>

<h4 class="govuk-heading-s">If you do not verify your identity within 10 days</h4>

<p class="govuk-body">You'll need to contact us at <strong>IDVCaseTeam@companieshouse.gov.uk</strong> and ask us to send you a new link. Please contact us from the email address we sent this email to. Include your case reference number (shown at the top of this email) and use the subject line: New link required to provide evidence of my identity to Companies House.</p>

<p class="govuk-body">You'll only be able to request a new link once. </p>

  <h2 class="govuk-heading-l">What happens next</h2>

<p class="govuk-body">After you've submitted your information, we'll review it. We may ask you for additional evidence after you've submitted your application if we need it. We'll then email you to let you know if you've successfully verified your identity.</p>

<p class="govuk-body">If you are successful, the email will include your Companies House personal code. This is an 11 character code that is given to a person once they've verified their identity. The code is personal to you, not your company or a company you work for. </p>

<p class="govuk-body">You'll need your personal code for various reasons. For example:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>as part of some company filings, such as the confirmation statement</li>
  <li>if you are appointed as a director</li>
  <li>if you become a person with significant control (PSC)</li>
</ul>

<p class="govuk-body">If you are unsuccessful, we'll email you to explain what happens next.</p>

<h3 class="govuk-heading-m">You can verify using an Authorised Corporate Service Provider (ACSP) instead</h3>

    <p class="govuk-body">If you no longer want to verify by providing evidence to Companies House, you can use an ACSP instead. This is also known as an authorised agent.</p>

    <p class="govuk-body">Find out more about verifying using an ACSP: <br>
      
  <a href="https://identity.company-information.service.gov.uk/identity-verification/verifying-with-authorised-corporate-service-provider" class="govuk-link govuk-link--no-visited-state">https://identity.company-information.service.gov.uk/identity-verification/verifying-with-authorised-corporate-service-provider</a>

</p>


{% endblock %}
