{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  {{ govukTag({
    classes: "govuk-tag--blue govuk-!-margin-bottom-4",
    text: "Release 1 - Post office route"
  }) }}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
       Verify your identity for Companies House <span class="govuk-caption-xl">(and then verify your appointments, if applicable)</span>
      </h1>

      <a href="start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        How to verify - One Login journey
      </a>



      <form id="versionA" action="../post-office/post-office-outcome-email">
        <input type="hidden" name="task-status" id="version" value="version_a" />

        <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" onclick="document.getElementById('versionA').submit();">
          Post email journey - Version A (With one login screens)</a>
      </form>

      <form id="versionB" action="../post-office/post-office-outcome-email">
        <input type="hidden" name="task-status" id="version" value="version_b" />

        <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" onclick="document.getElementById('versionB').submit();">
          Post email journey - Version B (Without one login screens)</a>
      </form>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Prototype data</h2>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Failure / Success
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Success
              </dt>
              <dd class="govuk-summary-list__value">
                Use email: <b>email1@server.com</b> 
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Failure
              </dt>
              <dd class="govuk-summary-list__value">
                Use email: <b>email2@server.com</b> 
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m" id="authScreens">Individual screen links</h2>

      <h3 class="govuk-heading-s">Pre One Login screens</h3>

      <ul class="govuk-list govuk-list--bullet">
    
        <li>
          <a class="govuk-link" href="../pre-one-login/guidance">Guidance</a> <strong class="govuk-tag govuk-tag--pink">
            Not for development
          </strong>
        </li>  
        <li>
          <a class="govuk-link" href="../pre-one-login/guidance-when">Guidance - When you need to verify (1st release)</a> <strong class="govuk-tag govuk-tag--pink">
            Not for development
          </strong>
        </li> 
        <li>
          <a class="govuk-link" href="../pre-one-login/start">Start page</a>
        </li>
        <li>
          <a class="govuk-link" href="../pre-one-login/acsp-route">Verifying with a Companies House authorised agent</a>
        </li>
        <li>
          <a class="govuk-link" href="../pre-one-login/one-login-intro">We’re taking you to verify your identity with GOV.UK One Login</a>
        </li>
        <li>
          <a class="govuk-link" href="../pre-one-login/already-verified">Already verified</a>
        </li>
      </ul>

      <h3 class="govuk-heading-s">One Login screens <strong class="govuk-tag govuk-tag--pink">
        Not for development
      </strong></h3> 

      <ul class="govuk-list govuk-list--bullet"> 
        <li>
          <a class="govuk-link" href="../pre-one-login/create-or-sign-in">Create a GOV.UK One Login or sign in</a>
        </li>
        <li>
          <a class="govuk-link" href="../one-login/one-login-id">Tell us if you have one of the following types of photo ID</a>
        </li>  
        <li>
          <a class="govuk-link" href="../one-login/one-login-post-office">Prove your identity at a Post Office</a>
        </li> 
        <li>
          <a class="govuk-link" href="../one-login/one-login-another-way">Find another way to prove your identity</a>
        </li>  
        <li>
          <a class="govuk-link" href="../one-login/one-login-working">Going through One Login journey...</a>
        </li>    
        <li>
          <a class="govuk-link" href="../one-login/success">Continue to the service you want to use</a>
        </li>    
      </ul>

      <h3 class="govuk-heading-s">Post One Login screens</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="../post-one-login/verified-success.html">Confirmation page</a>
        </li>
        <li>
          <a class="govuk-link" href="../post-one-login/failure-evidence.html">Failed - lack of evidence</a>
        </li>
        <li>
          <a class="govuk-link" href="../post-one-login/failure-blocked.html">Failed - blocked</a> 
        </li>
      </ul>

      <h3 class="govuk-heading-s">Error pages</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="../pre-one-login/service-unavailable.html">Service unavailable</a>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m" id="authScreens">Changes to the prototype in this version</h2>
      <ul class="govuk-list govuk-list--bullet">      
        <li>
          New check post office result email screen added
        </li>
        <li>
          New your going to one login to see your result screen added
        </li>
        <li>
          New 'You've proved your result' one login screen added
        </li>
        <li>
          New 'Sorry, we can't prove your identity' one login screen added
        </li>
        <li>
          Version A with all screens added
        </li>
        <li>
          Version B without one login 'you've proved your result' screen
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m" id="authScreens">User research</h2>
      <ul class="govuk-list govuk-list--bullet">      
        <li>
          <a class="govuk-link" target="_blank" href="https://companieshouse.sharepoint.com/sites/IDVThink-piece/Shared%20Documents/Forms/AllItems.aspx?id=%2Fsites%2FIDVThink%2Dpiece%2FShared%20Documents%2FGeneral%2FBeta%2FUser%20Research%2FH2V%20testing%2FH2V%20R14%20%2D%20PO%20route%20results%20journey%2FResearch%20videos%20%2D%20Research%20videos%20%2D%20DO%20NOT%20DOWNLOAD%20OR%20COPY%20THESE%20VIDEOS%21%20WATCHING%20ONLY&viewid=0afa5689%2D13a6%2D4121%2Daba9%2D5a6bec0c05de">Post office route user research videos</a>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m" id="authScreens">Journey flow</h2>
      <ul class="govuk-list govuk-list--bullet">      
        <li>
          <a class="govuk-link" target="_blank" href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1729667662168/e728563c7ba2fdea78d70a7431114bbda618f39f?sender=u9bc72e5725f1871777091172">Dev ready Post office flow diagram</a>
        </li>
      </ul>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m">
        Related IDV services
      </h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Links</th>

            <th class="govuk-table__header" scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="https://register-an-acsp-prototype.herokuapp.com/" target="_blank">Apply to register as a Companies House authorised agent</a>
            </td>
          
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">
                PROTOTYPE
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="https://idv-sign-in-prototype-7fe752c06ff9.herokuapp.com/" target="_blank">IDV sign in</a>
            </td>
          
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">
                PROTOTYPE
              </strong>
            </td>
          </tr>
        </tbody>
      </table>





{% endblock %}
