{% extends "layouts/main.html" %}

{% block pageTitle %}
  We're taking you to one login
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      We’re taking you to verify your identity with GOV.UK 
    </h1>

    <h3 class="govuk-heading-s">
      The fastest way to verify is with the GOV.UK mobile app   
    </h3>

    <p class="govuk-body">GOV.UK One Login allows you to download an app that scans your biometric ID.  </p>
    <p class="govuk-body">The mobile app: </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>is fast and simple </li>
      <li>works with any up-to-date mobile phone </li>
      <li>is secure - the app only communicates data, it doesn’t store anything </li>
    </ul>

    <p class="govuk-body">You can delete the app when you've finished.</p>

    <h3 class="govuk-heading-s">
      Verifying without the mobile app 
    </h3>

    <p class="govuk-body">You can also verify your identity with GOV.UK One Login online without the app. You will need to answer a few questions about yourself to confirm who you are. </p>

    <p class="govuk-body">If you cannot verify online, GOV.UK One Login will tell you how to verify in-person at the Post Office. </p>

    {{ govukButton({
      text: "Continue",
      href: "../one-login/one-login-start"
    }) }}

  </div>
</div>

{% endblock %}
