{% extends "layouts/main.html" %}

{% block pageTitle %}
  Alternative provider – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Verifying with an Authorised Corporate Service Provider (ACSP)
      </h1>
  
  <p class="govuk-body">An ACSP can verify your identity for Companies House on your behalf. For example, an accountant or solicitor. This is also known as an authorised agent.</p>
  
      <p class="govuk-body">You can do this from any country, but your agent must register with Companies House in order to become authorised. They must be registered with a UK Anti-Money Laundering (AML) supervisory body.</p>

        <p class="govuk-body">If you use an agent, your identity will only be verified for Companies House, not any other government service or department.</p>

      <h2 class="govuk-heading-m">How to find an ACSP</h2>

         <p class="govuk-body">If you have an existing accountant or solicitor (or any other AML-supervised professional), you can ask them if they are registered with Companies House as an ACSP. If not, you can find one using the <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">list of Authorised Corporate Service Providers (ACSPs) (opens in new tab)</a>.
      </p>
  
<h2 class="govuk-heading-m">What happens next</h2>

   <p class="govuk-body">When an ACSP has agreed to verify your identity, you will need to provide documents from an approved list as evidence of your identity. The ACSP may charge a fee for their services.
      </p>
     
  

        
  
    </div>
  </div>
  
  {% endblock %}
