{% extends "layouts/main.html" %}

{% block pageTitle %}
What is your current address? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

<h1 class="govuk-heading-l">What is your current address?</h1>
        <div id="event-name-hint" class="govuk-hint">
            Tell us your home address. Only give a business address if you also live there.
        </div>

      <div class="govuk-form-group">
  <label class="govuk-label" for="propertyName">
    Property name or number
  </label>

  <div id="propertyName-hint" class="govuk-hint">
    For example, &#39;The Mill&#39;, &#39;116&#39; or &#39;Flat 37a&#39;
  </div>

<input class="govuk-input" id="propertyName" name="propertyName" type="text" aria-describedby="propertyName-hint">

</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="addressOne">
    Address line 1
  </label>

<input class="govuk-input" id="addressOne" name="addressOne" type="text">

</div>
        
<div class="govuk-form-group">
  <label class="govuk-label" for="addressTwo">
    Address line 2 (optional)
  </label>

<input class="govuk-input" id="addressTwo" name="addressTwo" type="text">

</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="town">
    City or town
  </label>

<input class="govuk-input" id="town" name="town" type="text">

</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="county">
    County, state, province or region (optional)
  </label>

<input class="govuk-input" id="county" name="county" type="text">

</div>

<div class="govuk-form-group">
          <label class="govuk-label" for="autocomplete-default" >Country</label>
          <p class="govuk-hint">Start typing a country, then choose from the list.</p>
          <div class="autocomplete-wrapper" id="country"></div>

        </div>

        <div class="govuk-form-group">
  <label class="govuk-label" for="postcode">
    Postcode or ZIP
  </label>

<input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text">

</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorCurrentAddress %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form action="{{currentUrl}}" method="post">

      <!-- Check for error -->
      {% if errorCurrentAddress %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" aria-describedby="curretnAddress-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Have you lived at your current address for more than 12 months?
            </h1>
          </legend>
          <!-- Check for error -->
          {% if errorCurrentAddress %}
          <p id="currentAddress-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select if you have lived at your current address for more than 12 months
          </p>
          {% endif %} 

          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="currentAddress" name="currentAddress" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="currentAddress">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="currentAddress-2" name="currentAddress" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="currentAddress-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>
</div>
</div>

<script src="/public/javascripts/accessible-autocomplete.js"></script>
<script src="/public/javascripts/country.js"></script>

{% endblock %}
