{% extends "layouts/main.html" %}

{% block pageTitle %}
What is your nationality? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorNationality %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form action="{{currentUrl}}" method="post">
      
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="nationalityOne">
            What is your nationality?
          </label>
        </h1>

        <div class="govuk-form-group">
          <select class="govuk-select" id="nationalityOne" name="nationalityOne" aria-describedby="nationalityOne-hint">
            <option value="choose" selected>Choose nationality
            </option>
            <option value="German">German</option>
            <option value="Hungarian">Hungarian</option>
            <option value="Icelandic">Icelandic</option>
            <option value="Indian">Indian</option>
            <option value="Japanese">Japanese</option>
            <option value="Pakistani">Pakistani</option>
            <option value="South African">South African</option>
          </select>
        </div>
       
      </div>

    

      <div class="govuk-form-group" id="nationalityTwoAutocomplete">
        <div class="govuk-form-group">
          <label class="govuk-label" for="nationalityTwo">
            Second nationality (if relevant)
          </label>
          <div id="nationalityTwo-hint" class="govuk-hint">
            Dual citizenship (also known as dual nationality) is allowed in some countries. This means you can be a citizen of 2 countries at the same time.
          </div>
          <select class="govuk-select" id="nationalityTwo" name="nationalityTwo" aria-describedby="nationalityTwo-hint">
            <option value="choose" selected>Choose nationality
            </option>
            <option value="German">German</option>
            <option value="Hungarian">Hungarian</option>
            <option value="Icelandic">Icelandic</option>
            <option value="Indian">Indian</option>
            <option value="Japanese">Japanese</option>
            <option value="Pakistani">Pakistani</option>
            <option value="South African">South African</option>
          </select>
        </div>

        

        <div class="govuk-form-group" id="nationalityThreeAutocomplete">
          <label class="govuk-label" for="nationalityThree">
            Third nationality (if relevant)
          </label>
          <div id="nationalityThree-hint" class="govuk-hint">
            Multiple citizenship (also known as multiple nationality) is allowed in some countries. This means you can be a citizen of 3 countries at the same time.
          </div>
          <select class="govuk-select" id="nationalityThree" name="nationalityThree" aria-describedby="nationalityThree-hint">
            <option value="choose" selected>Choose nationality
            </option>
            <option value="German">German</option>
            <option value="Hungarian">Hungarian</option>
            <option value="Icelandic">Icelandic</option>
            <option value="Indian">Indian</option>
            <option value="Japanese">Japanese</option>
            <option value="Pakistani">Pakistani</option>
            <option value="South African">South African</option>
          </select>
        </div>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/application.js"></script>
{% endblock %}
