{% extends "layouts/main.html" %}

{% block pageTitle %}
  Alternative provider
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Verify with authorised agent 
      </h1>

      <p class="govuk-body">Ask an authorised agent (such as an accountant or 
        solicitor) to verify your identity with Companies House on your behalf.  
      </p>

      <p class="govuk-body">Your agent must be registered with Companies House as 
        an Authorised Corporate Service Provider (ACSP)).    
      </p>

      <h3 class="govuk-heading-s">If your agent is not yet authorised </h3>

      <p class="govuk-body">Agents can register with Companies House in order to 
        become an authorised agent.     
      </p>

      <h3 class="govuk-heading-s">What happens next?</h3>

      <p class="govuk-body">When your authorised agent has agreed to verify your 
        identity on your behalf, they will ask you to provide proof of your address 
        and identity. <a href="https://www.gov.uk/government/publications/proof-of-identity-checklist/proof-of-identity-checklist#proof-of-identity-checklist-for-individuals" 
        class="govuk-link">See which documents you can use in the UK </a>.     
      </p>
    </div>
  </div>

{% endblock %}
