{% extends "layouts/main.html" %}

{% block pageTitle %}
  Alternative provider
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Verify with authorised agent 
      </h1>

      <p>Everyone can ask an authorised agent to verify their ID on their 
        behalf. You do not need to be a UK resident or have a biometric ID. 
      </p>

      <p>
        You can <a href="#" class="govuk-link">see a list of authorised agents</a> 
        to find one if you do not have an agent already.  
      </p>



    </div>
  </div>

{% endblock %}
