{% extends "layouts/main.html" %}

{% block pageTitle %}
How would you like to verify your identity with Companies House?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorRoute %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form action="{{currentUrl}}" method="post">

      <!-- Check for error -->
      {% if errorResident %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" aria-describedby="which-route-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              How would you like to verify your identity with Companies House?
            </h1>
          </legend>
          <!-- Check for error -->
          {% if errorRoute %}
          <p id="which-route-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select how you would you like to verify your identity with Companies House
          </p>
          {% endif %} 
          <div id="route-hint" class="govuk-hint">
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="which-route" name="which-route" type="radio" value="gov">
              <label class="govuk-label govuk-radios__label" for="which-route">
                Verify with GOV.UK
              </label>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Who can use the GOV.UK verification service  
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <p class="govuk-body">You can use the online service if: </p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>you are a UK resident or</li>
                    <li>you have a biometric passport from any country or</li>
                    <li>a UK photo driving licence</li>
                  </ul>
                  <p class="govuk-body">The GOV.UK service will guide you 
                    through an in-person service if you don’t have a biometric 
                    ID, but you are resident in the UK. </p>
                </div>
              </details>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="which-route-2" name="which-route" type="radio" value="acsp">
              <label class="govuk-label govuk-radios__label" for="which-route-2">
                Verify with an authorised agent (accountant or solicitor)
              </label>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Who can use an authorised agent   
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <p class="govuk-body">Everyone can ask an authorised agent to verify their ID on their 
                    behalf. You do not need to be a UK resident or have a biometric ID.</p>
                  <p class="govuk-body">Most accountants who file on behalf of companies are authorised agents.  </p>  
                  <p class="govuk-body">If you verify with your authorised agent, your identity will be verified for Companies House only.</p>
                </div>
              </details>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
