{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  {{ govukTag({
    classes: "govuk-tag--blue govuk-!-margin-bottom-4",
    text: "version 5"
  }) }}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
       Verify your identity for Companies House <span class="govuk-caption-xl">(and then verify your appointments, if applicable)</span>

      </h1>

      <a href="start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start now
      </a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m" id="authScreens">Individual screen links</h2>

      <h3 class="govuk-heading-s">Pre one login</h3>

      <ul class="govuk-list govuk-list--bullet">
    
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../pre-one-login/start">Start page</a>
        </li>  
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../pre-one-login/guidance">Guidance</a>
        </li>  
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../pre-one-login/route">How would you like to verify your identity for Companies House?</a>
        </li>  
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../pre-one-login/resident">Do you live in the UK?</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../pre-one-login/id-check">What type of photo ID do you have?</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../pre-one-login/sign-in">Sign in</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../pre-one-login/ascp-route">ASCP route</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../pre-one-login/one-login-intro">You are about to be redirected to One login</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../pre-one-login/one-login-start">One login start</a>
        </li>
      </ul>

      <h3 class="govuk-heading-s">One login</h3>

      <ul class="govuk-list govuk-list--bullet">
    
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../one-login/computer">Do you have a computer</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../one-login/smartphone-type">Do you have a smartphone</a>
        </li>  
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../one-login/interruption-card">interruption card</a>
        </li>  
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../one-login/one-login-working">one login processing</a>
        </li>  
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../one-login/success">success</a>
        </li>    
      </ul>

      <h3 class="govuk-heading-s">Post One login</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../post-one-login/one-login-exit">One login Exit</a>
        </li>
          <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../post-one-login/verified-success-psc.html">Successfully verified (PSC)</a>
        </li>
      </ul>



      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m" id="authScreens">Changes to the prototype in this version</h2>
      <ul class="govuk-list govuk-list--bullet">      
        <li>
          TBD
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m" id="authScreens">User research</h2>
      <ul class="govuk-list govuk-list--bullet">      
        <li>
          <a class="govuk-link govuk-link--no-visited-state" target="_blank" href="#">TBD</a>
        </li>
      </ul>




        
    </div>
  </div>





{% endblock %}
