{% extends "layouts/main.html" %}

{% block pageTitle %}
 Enter your one login password
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="{{currentUrl}}" method="post">

      <h1 class="govuk-heading-l">
        Sorry, we cannot prove your identity
      </h1>

      <p class="govuk-body">
        We could not find a match when we checked your details with another organisation.
      </p>

      <p class="govuk-body">To keep your information safe, we cannot tell you which of your details we were unable to match.</p>


      <h2 class="govuk-heading-m">
        What can you do
      </h2>

      <p class="govuk-body">Continue to the service you were trying to use and look for other ways to prove your identity.
      </p>

      {{ govukButton({
        text: "Continue",
        href: "po-failure-evidence"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
