{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answer – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}




{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



      <h1 class="govuk-heading-l">Check your answers</h1>

  

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
         
          
          
          {
            key: {
              text: "Date of birth"
            },
               value: {
              html: "23 March 1986"
            },
            actions: {
              items: [
                {
                  href: "javascript:void(0)",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          },
           {
            key: {
              text: "Home address"
            },
            value: {
              html: "72 Guild Street<br>London<br>SE23 6FH"
            },
            actions: {
              items: [
                {
                  href: "javascript:void(0)",
                  text: "Change",
                  visuallyHiddenText: "home address"
                }
              ]
            }
          }
        ]
      }) }}




     


        {{ govukButton({
          text: "Continue",
          href: "psc-verified-success"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}


