{% extends "layouts/main.html" %}
{% block pageTitle %}
  Active PSCs for WEST HAM FOOTBALL CLUB LIMITED
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/account-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    


      <span class="govuk-caption-l">WEST HAM FOOTBALL CLUB LIMITED</span>
      <h1 class="govuk-heading-l">Which person with significant control (PSC) are you?</h1>


        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">DAVIS, Kathryn Rebecca</h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Role
                </dt>
                <dd class="govuk-summary-list__value">
                  PSC
                </dd>

              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                  April 1986
                </dd>

              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date added
                </dt>
                <dd class="govuk-summary-list__value">
                  16 December 2015
                </dd>

              </div>
              <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">
                <a href="psc-statement" class="govuk-link">This is me</a>
              </p>
            </dl>
          </div>
        </div>



        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">MURRAY, David</h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Role
                </dt>
                <dd class="govuk-summary-list__value">
                  PSC
                </dd>

              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                  December 1999
                </dd>

              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date added
                </dt>
                <dd class="govuk-summary-list__value">
                  16 December 2015
                </dd>

              </div>
              <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">
                <a href="javascript:void(0)" class="govuk-link">This is me</a>
              </p>
            </dl>
          </div>
        </div>


    </div>
  </div>
{% endblock %}
