{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirm the home address – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Confirm your home address</h1>

    <p class="govuk-body">{{ data['addressLine1']}} <br> {{ data['addressLine2']}} <br> {{ data['addressTown']}} <br> {{ data['addressCountry']}}</p>

    <p class="govuk-body govuk-!-margin-bottom-9"><a href="address-lookup" class="govuk-link govuk-link--no-visited-state">Change</a></p>

    {{ govukButton({
      text: "Confirm and continue",
      href: "primary-id"
    }) }}
  </div>
</div>

{% endblock %}