{% extends "layouts/main.html" %}
<!-- Overwrite suerfice name -->
{% set serviceName %}
  
{% endset%}

{% block pageTitle %}
  {{ serviceName }} – Prototype
{% endblock %}

{% block beforeContent %}
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a href="/contact-us?supportType=PUBLIC" class="govuk-link govuk-link--no-visited-state" rel="noopener" target="_blank">feedback (opens in new tab)</a> will help us to improve it.
        </span>
      </p>
    </div>

  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">Check your email</h1>

      <div class="govuk-inset-text">
        We have sent an email to: <span class="govuk-body govuk-!-font-weight-bold permit-reflow">test@test.com</span>
      </div>

      <p class="govuk-body">The email contains a 6 digit security code.</p>
      <p class="govuk-body">Your email might take a few minutes to arrive. If you do not get an email, check your spam folder.</p>
      <p class="govuk-body">The code will expire after 2 hours.</p>

      <form action="create-password" method="post" novalidate="novalidate">

          <input type="hidden" name="_csrf" value="">
          <input type="hidden" name="email" value="">
          

      <div class="govuk-form-group">
        <label class="govuk-label" for="code">
          Enter the 6 digit security code
        </label>

      <input class="govuk-input govuk-input--width-10" id="code" name="code" type="text" spellcheck="false" autocomplete="one-time-code" inputmode="numeric">

      </div>

      <button type="Submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
        Continue
      </button>


          <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Problems with the code?
          </span>
        </summary>
        <div class="govuk-details__text">
          
          <p class="govuk-body">
            We can 
            <a href="/resend-email-code" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">send the code again</a>
             or you can 
            <a href="/enter-email-create" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">use a different email address</a>.
          </p>
          
        </div>
      </details>


        </form>

    </div>
  </div>

{% endblock %}
