{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  All pages – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Subject: Your security code for your GOV.UK One Login | Eich cod diogelwch ar gyfer eich GOV.UK One Login
      </h1> 

      <p>From: gov.uk.one.login@notifications.service.gov.uk<br>
        To: [email@email.com]
      </p>
<table role="presentation" width="100%" style="border-collapse:collapse;min-width:100%;width:100%!important" cellpadding="0" cellspacing="0" border="0">
    <tbody><tr>
      <td width="100%" height="53" bgcolor="#0b0c0c">
        
        <table role="presentation" width="100%" style="border-collapse:collapse;max-width:580px" cellpadding="0" cellspacing="0" border="0" align="center">
          <tbody><tr>
            <td width="70" bgcolor="#0b0c0c" valign="middle">
              <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.gov.uk&amp;source=gmail&amp;ust=1679577366012000&amp;usg=AOvVaw0686e1bJql8kYVyARu0-XE">
                <table role="presentation" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse">
                  <tbody><tr>
                    <td style="padding-left:10px">
                      <img src="https://ci4.googleusercontent.com/proxy/pvN1p4x4E1j9aX5roof_HW0YpKqWW5iSOZzXLTlAyx0NPYGuqBupZFadY3FPEYjc00W_X_99tYW-5-3Y52Si7-xReAOZTsXAcfafeDRvFFZS_xQvOBKajCUR5L0fvA8=s0-d-e1-ft#https://static.notifications.service.gov.uk/images/gov.uk_logotype_crown.png" alt="" height="32" border="0" style="Margin-top:4px" class="CToWUd" data-bit="iit">
                    </td>
                    <td style="font-size:28px;line-height:1.315789474;Margin-top:4px;padding-left:10px">
                      <span style="font-family:Helvetica,Arial,sans-serif;font-weight:700;color:#ffffff;text-decoration:none;vertical-align:top;display:inline-block">GOV.UK</span>
                    </td>
                  </tr>
                </tbody></table>
              </a>
            </td>
          </tr>
        </tbody></table>
        
      </td>
    </tr>
  </tbody></table>
  <div style="height:40px"></div>


      <p>Use this security code to confirm the email address for your GOV.​UK One Login.</p>

      <div class="govuk-inset-text">
          321323
      </div>

      <p>The code will expire after 2 hours.</p>

      <p>If you did not use this email address to create a GOV.​UK One Login, you can ignore this email.</p>

      <p>If you need help using the security code, you can contact us: <a href="">https://signin.account.gov.uk/contact-us?referer=confirmEmailAddressEmail</a></p>

      <p>Do not reply to this email – it’s an automatic message from an unmonitored account.</p>

      <hr>

      <h2>Eich cod diogelwch ar gyfer eich GOV.​UK One Login</h2>
      <p>Defnyddiwch y cod diogelwch hwn i gadarnhau eich cyfeiriad e-bost ar gyfer eich GOV.​UK One Login.</p>

      <div class="govuk-inset-text">
          321323
      </div>

      <p>Bydd y cod yn dod i ben ar ôl 2 awr.</p>

      <p>Os na wnaethoch ddefnyddio’r cyfeiriad e-bost hwn i greu GOV.​UK One Login, gallwch anwybyddu’r e-bost hwn.</p>

      <p>Os ydych angen help i ddefnyddio’r cod diogelwch, gallwch gysylltu â ni: <a href="">https://signin.account.gov.uk/contact-us?referer=confirmEmailAddressEmail</a></p>

      <hr>
      <p>Peidiwch ag ymateb i’r e-bost hwn – mae’n neges awtomatig o gyfrif heb ei fonitro.</p>

    </div>
  </div>

{% endblock %}
