{% extends "layouts/main.html" %}

{% block pageTitle %}
Are you resident in the UK?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      We've taken you back to Companies House
    </h1>

    <p class="govuk-body">
      You need to connect your verified identity to the 
      records we have on file for you.  
    </p>

    <p class="govuk-body">
      When you finish, we 
      will send you a personal code confirming you have successfully verified 
      your identity for Companies House.  
    </p>



    {{ govukButton({
      text: "Continue",
      href: "../post-one-login/verified-success-psc"
    }) }}

  </div>
</div>

{% endblock %}
