{% extends "layouts/main.html" %}

{% block pageTitle %}
  You have failed to verify your identity for Companies House – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/account-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Ways you can prove your identity for Companies House </h1>

      <h3 class="govuk-heading-s">If you have photo ID </h3>

      <p class="govuk-body">You can <a href="/release1-v4/one-login/one-login-start" class="govuk-link govuk-link--no-visited-state">try proving your identity with GOV.UK One Login again</a>.</p> 

      <h3 class="govuk-heading-s">If you do not have photo ID </h3>

      <p class="govuk-body">You can ask a Companies House authorised agent to verify your identity on your behalf. You can do this from any country, 
     but your agent must be registered in the UK. </p> 

     <p class="govuk-body">You’ll need to provide suitable identity documents. <a href="https://www.gov.uk/government/publications/proof-of-identity-checklist/proof-of-identity-checklist#proof-of-identity-checklist-for-individuals" class="govuk-link govuk-link--no-visited-state">Find out which documents you can use to prove your identity in the UK</a>.</p>

      <p class="govuk-body"><a href="acsp-route" class="govuk-link govuk-link--no-visited-state">
        More about verifying with a Companies House authorised agent</a>.</p>

    

       

      <h2 class="govuk-heading-m">What happens if you do not verify </h2>

      <p class="govuk-body">
        There will be a transition period so that you have time to do what the regulations require. <a href="#" class="govuk-link govuk-link--no-visited-state">
          Find out when you need to verify</a>.
      </p>

      {{ govukWarningText({
        text: "If you do not verify your identity in time, you could get a maximum fine of £XXX.",
        iconFallbackText: "Warning"
      }) }}

      <p class="govuk-body">You will also be unable to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>make any filings for your company or entity</li>
        <li>start a new company or entity</li>
        <li>register as a Companies House authorised agent</li>
      </ul>

      <p class="govuk-body">
        If you continue to act as a director after the deadline, you will be committing an offence. The company (or entity) and all directors may also be committing an offence. 
      </p>

    </div>
  </div>

{% endblock %}
