{% extends "layouts/main.html" %}

{% block pageTitle %}
  Identity verification complete – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/account-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
        Identity verification complete
        </h1>
      </div>

      <div class="highlight-box">
        <p class="govuk-body govuk-!-font-weight-regular">Your Companies House personal code is: <strong>X77-R2D2-C3PQ</strong> </p>
        <p class="govuk-body">You can see your code in the 'Manage account' section when you sign in to your Companies House account.</p>
      </div>

      <h2 class="govuk-heading-s">If you are a sole trader registering as a Companies House authorised agent</h2>

      <p class="govuk-body">You can now <a href="https://register-an-acsp-prototype.herokuapp.com/v6/start-page">continue to register as an authorised agent</a>.</p>

      <h2 class="govuk-heading-s">What a Companies House personal code is</h2>

      <p class="govuk-body">Your Companies House personal code connects your verified identity to our records. This is so that we know the correct person is linked to the personal details we have on file. The code is personal to you, not your company or a company you work for.
      </p>

      <p class="govuk-body">
        You may need your personal code:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>as part of some other company filings</li>
        <li>when you are appointed as a director</li>
        <li>when you are appointed as a person with significant control (PSC)</li>
      </ul>
      
      <h2 class="govuk-heading-s">Keeping your information secure </h2>

      <p class="govuk-body">Identity verification makes it much more difficult for 
        criminals to impersonate someone, but not impossible. Keep this information 
        secure, as you would with other unique codes such as your Unique Taxpayer 
        Reference (UTR) for HMRC. Only share the code with people you trust to file 
        on your behalf. 
      </p>

      <h3 class="govuk-heading-s">Feedback</h3>
      <p class="govuk-body">This is a new service. Help us improve it by completing our
        <a href="https://www.smartsurvey.co.uk/s/reptpscdisp-fdbk/">quick survey</a>.
      </p>

    </div>
  </div>

{% endblock %}
