{% extends "layouts/main.html" %}

{% block pageTitle %}
Prove your identity with GOV.UK account GOV.UK – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorLaptop %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form action="{{currentUrl}}" method="post">

      <!-- Check for error -->
      {% if errorLaptop %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" aria-describedby="laptop-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
            Are you on a computer or a tablet right now?
            </h1>
  
          </legend>
          <div id="laptop-hint" class="govuk-hint">
            <p>Some ways of confirming your identity are only available on specific devices. Let us know what device you are using right now.</p> 
          </div>
          <!-- Check for error -->
          {% if errorLaptop %}
          <p id="laptop-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select if you are on a computer or tablet
          </p>
          {% endif %} 

          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="laptop" name="laptop" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="laptop">
                Yes, I am on a computer or tablet
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="laptop-2" name="laptop" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="laptop-2">
                No, I am on another device
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
