{% extends "layouts/main.html" %}

{% block pageTitle %}
Prove your identity with GOV.UK account GOV.UK – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <div class="interruption-card">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Use your passport and a GOV.UK app to confirm your identity</h1>


          <p class="govuk-body">Next, we will guide you to download and use the app.</p>
          
          <p class="govuk-body"><b>You will use this app to</b></p>
          <ul class="govuk-list govuk-list--bullet">

            <li>take a photo of your passport photo page</li>
            <li>scan the biometric chip on your passport</li>
            <li>scan your face with your camera</li>
          </ul>
          {{ govukButton({
            text: "Continue",
            href: "one-login-working",
            classes: "govuk-link govuk-link--interrupt"
          }) }}
        </div>
      </div>
    </div>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-inset-text">
      <p class="govuk-body">Prefer to not use an app? you can <a href="#" class="govuk-link govuk-link--no-visited-state">confirm your identity in another way.</a></p>
    </div>

    <h2 class="govuk-heading-m">How we use your data</h2>

    <p class="govuk-body">We collect your data securly and delete it when no longer needed. Read our full <a href="#" class="govuk-link govuk-link--no-visited-state">privacy notice.</a></p>
          
    <h2 class="govuk-heading-m">Accessibility</h2>

    <p class="govuk-body">Read our <a href="#" class="govuk-link govuk-link--no-visited-state">accessibility statement.</a></p>
          
  </div>
</div>

{% endblock %}
