{% extends "layouts/main.html" %}

{% block pageTitle %}
Prove your identity with GOV.UK account GOV.UK – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorPassport %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form action="{{currentUrl}}" method="post">

      <!-- Check for error -->
      {% if errorPassport %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" aria-describedby="passport-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
            Do you have a valid passport?
            </h1>
  
          </legend>
          <div id="passport-hint" class="govuk-hint">
            If you have a passport you can use it to confirm your identity.
          </div>
          <!-- Check for error -->
          {% if errorPassport %}
          <p id="passport-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select if you have a valid passport
          </p>
          {% endif %} 

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="passport" name="passport" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="passport">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="passport-2" name="passport" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="passport-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
