{% extends "layouts/main.html" %}

{% block pageTitle %}
Prove your identity with GOV.UK account GOV.UK – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorSmartphone %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form action="{{currentUrl}}" method="post">

      <!-- Check for error -->
      {% if errorSmartphone %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" aria-describedby="is-resident-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
            Do you have a smartphone you can use?
            </h1>
  
          </legend>
          <div id="has-ID-hint" class="govuk-hint">
            <p>Some ways of confirming your identity require a smartphone.</p>
            <p>If you can use your smartphone to confirm your identity, we will guide you to switch devices later.</p> 
          </div>
          <!-- Check for error -->
          {% if errorSmartphone %}
          <p id="smartphone-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select if you have a smart phone
          </p>
          {% endif %} 

          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="smartphone" name="smartphone" type="radio" value="iphone">
              <label class="govuk-label govuk-radios__label" for="smartphone">
                Yes, i have an iPhone
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="smartphone-2" name="smartphone" type="radio" value="android">
              <label class="govuk-label govuk-radios__label" for="smartphone-2">
                Yes, i have an android phone (for example, Samsung, Google Pixel, OPPO)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="smartphone-2" name="smartphone" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="smartphone-2">
                I don't have either of these
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
