{% extends "layouts/main.html" %}

{% block pageTitle %}
  Identity verification complete – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Your account is successfully bound
      </h1>
    </div>


    <p class="govuk-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    </p>

    <p class="govuk-body">
      quis nostrud exercitation ullamco
    </p>

    <h3 class="govuk-heading-s">Feedback</h3>
    <p class="govuk-body">This is a new service. Help us improve it by completing our
      <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">quick survey (opens in new tab)</a>.
    </p>

  </div>
</div>


{% endblock %}
