{% extends "layouts/main.html" %}

{% block pageTitle %}
  You have failed to verify your identity for Companies House – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/account-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">You cannot use GOV.UK One Login to verify your identity</h1>

      <p class="govuk-body">You have not been able to prove who you are with GOV.UK One Login.</p>

      <h2 class="govuk-heading-m">Next steps</h2>
      
      <p class="govuk-body">
        If you are a sole trader registering as a Companies House authorised agent, you can ask another authorised agent to verify your identity on your behalf.
      </p>
      <p class="govuk-body"><a href="acsp-route.html" class="govuk-link">More about verifying with a Companies House authorised agent</a>.</p>
      <p class="govuk-body">
        You'll be able to submit filings and act on behalf of your clients as 
        normal until [date]. After then, you will need to have verified 
        your identity and registered as a Companies House authorised agent.  
      </p>

    </div>
  </div>

{% endblock %}
