{% extends "layouts/main.html" %}

{% block pageTitle %}
  Alternative provider
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Verifying your identity with a Companies House authorised agent 
    </h1>

<p>An authorised agent can verify your identity for Companies House on your behalf. They must be registered with Companies House as an authorised agent - also known as an Authorised Corporate Service Provider (ACSP). They must be registered with a UK Anti-Money Laundering (AML) supervisory body.</p>
  
    <p class="govuk-body">If you use an agent, your identity will only be verified for Companies House, 
      not any other government service or department.  </p>

<p>You can search for an agent on the
<a href="#" class="govuk-link">list of Companies House authorised agents</a>. They will charge a fee for their services.</p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Who can be an authorised agent
        </span>
      </summary>
      <div class="govuk-details__text">
        
        <p class="govuk-body">Authorised agents could be:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>accountants</li>
          <li>solicitors</li>
          <li>company formation agents</li>
        </ul>

      </div>
    </details>

      
<h2 class="govuk-heading-s">What happens next</h2>

<p class="govuk-body">When an authorised agent has agreed to verify your identity, they will ask you to provide proof of your identity using documents from the
<a href="https://acsp-verify-identity-prototype.herokuapp.com/v6/guidance" class="govuk-link">Companies House identity verification standard</a>.
</p>
  </div>
</div>

{% endblock %}
