{% extends "layouts/main.html" %}

{% block pageTitle %}
Do you have a UK or non-UK biometric passport?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="{{currentUrl}}" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Where do you live?
            </h1>
          </legend>
          <div class="govuk-form-group">
            <label class="govuk-label" for="postcode">
              UK postcode
            </label>
            <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text" autocomplete="postcode">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="property-name">
              Property name or number
            </label>
            <div id="property-name-hint" class="govuk-hint">
              For example, 'The Mill', '116' or 'Flat 37a'
            </div>
            <input class="govuk-input govuk-input--width-10" id="property-name" name="property-name" type="text" autocomplete="property-name">
          </div>
        </fieldset>
      </div>


      {{ govukButton({
        text: "Find address"
      }) }}

      <p class="govuk-body">
        <a href="address-manual" class="govuk-link govuk-link--no-visited-state">Enter address manually</a>
      </p>

    </form>
  </div>
</div>

{% endblock %}
