{% extends "layouts/main.html" %}

{% block pageTitle %}
  Alternative provider
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Alternative provider
      </h1>

      <p>
        Start page for alternative provider. This is for users that are not resident in the UK and do not have a biometric passport
      </p>

    </div>
  </div>

{% endblock %}
