{% extends "layouts/main.html" %}

{% block pageTitle %}
Do you have a UK driving licence?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorLicence %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form action="{{currentUrl}}" method="post">

      <!-- Check for error -->
      {% if errorLicence %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" aria-describedby="has-licence-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Do you have a UK driving licence?
            </h1>
          </legend>
          <!-- Check for error -->
          {% if errorLicence %}
          <p id="has-licence-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> You must select if you have a UK driving licence
          </p>
          {% endif %} 
          <div id="has-licence-hint" class="govuk-hint">
            Hint text
          </div>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="has-licence" name="has-licence" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="has-licence">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="has-licence-2" name="has-licence" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="has-licence-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
