{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Prove your identity
      </h1>

      <p>Use this service toprove your identity to Companies House</p>

      <h2 class="govuk-heading-m">What'll you'll need</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
        <li>item 4</li>
      </ul>

      <p>Registering takes around xx minutes.</p>

      {{ govukButton({
        text: "Start now",
        href: "sign-in",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p>
        You can also register your identity through an ACSP...
      </p>

      <p>
        The online service is also <a href="#">available in Welsh (ar gael yn Gymraeg)</a>.
      </p>

    </div>
  </div>
{% endblock %}
