{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/account-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Identity verified successfully</h1>
        <div class="govuk-panel__body">
          Your verification ID is:<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <p class="govuk-body">We've sent a confirmation email to
        <strong>{{ data['emailAddress'] }}</strong> which contains your verification ID. The email may take a few minutes to arrive. If you do not receive it within 24 hours, email
        <a class="govuk-link" href="mailto:idv@companieshouse.gov.uk">idv@companieshouse.gov.uk</a>.</p>

      <h2 class="govuk-heading-m">What you need to do now </h2>
      
<h3 class="govuk-heading-s">Directors (or equivalent)</h3>

      <p class="govuk-body">File an update to your details by XX/XX/XX. After you’ve done this, we’ll update the Companies House register to show that you have verified your identity.
      </p>

<h3 class="govuk-heading-s">People with significant control (PSCs)</h3>

      <p class="govuk-body">File an update to your details by XX/XX/XX. After you’ve done this, we’ll update the Companies House register to show that you have verified your identity.
      </p>



      <h3 class="govuk-heading-m">Feedback</h3>
      <p class="govuk-body">This is a new service. Help us improve it by completing our
        <a href="https://www.smartsurvey.co.uk/s/reptpscdisp-fdbk/">quick survey</a>.
      </p>

    </div>
  </div>

{% endblock %}
