{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start - Prove your identity 
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Guidance</span>
      <h1 class="govuk-heading-l">Verify your identity for Companies House</h1>

      <p class="govuk-body-l">How to verify your identity so that you can set up, run, own or file for a company registered at Companies House.</p>

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#content-1">
                Why you need to verify your identity
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#content-2">
                Who needs to verify their identity
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#content-3">
                What happens when you verify
              </a>
          
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#content-4">
                When you need to verify
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#content-5">
                What happens if you do not verify
              </a>
            </li>
          </ol>
        </nav>
      </aside>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">

      <h2 id="content-1" class="govuk-heading-m">Why you need to verify your identity</h2>

      <p>You need to verify your identity to confirm you are who you say you are.</p>

      <p class="govuk-body">This will:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>reduce the risk of fraud </li>
        <li>improve the accuracy of information on the Companies House register</li>
      </ul>

      <h2 id="content-2" class="govuk-heading-m">Who needs to verify their identity</h2>

      <p class="govuk-body">You need to verify your identity if you are:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a person with significant control (PSC)</li>
        <li>a director</li>
        <li>the equivalent of a director – this includes members, general partners and managing officers</li>
        <li>someone who files for a company, but is not supervised under the Anti-Money Laundering (AML) regulations. </li>
      </ul>

      <h2 id="content-3" class="govuk-heading-m">What happens when you verify</h2>
      
      <p class="govuk-body">You only need to verify your identity once. After you’ve verified, we’ll give you a personal verification code. </p>
        
      <p class="govuk-body">You’ll need to provide this:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>as part of some other company filings</li>
        <li>when you are appointed as a director</li>
        <li>when you are appointed as a PSC</li>
      </ul>

      <p class="govuk-body">Only share the code with people you trust to file on your behalf.</p>

      <h2 id="content-4" class="govuk-heading-m">When you need to verify</h2>

      <h3 class="govuk-heading-s">New companies</h3>

      <p>All directors must verify their identity when incorporating (starting) a company. PSCs have 14 days from the day the company was incorporated to verify.</p>

      <h3 class="govuk-heading-s">Current directors of existing companies</h3>

      <p>Verify your identity as soon as possible, but no later than the due date of the next confirmation statement.</p>

      <p>All current directors of existing companies must verify their identity. The company must then file a verification statement with its next confirmation statement, after all directors have verified.</p>

      <h3 class="govuk-heading-s">New directors of existing companies</h3>

      <p>You must verify your identity before you notify (tell) Companies House you’ve become a director. </p>

      <h3 class="govuk-heading-s">Current PSCs of existing companies</h3>

      <p>Verify your identity as soon as possible, but no later than 14 days after the due date of the next confirmation statement. <a href="https://find-and-update.company-information.service.gov.uk/" class="govuk-link govuk-link--no-visited-state">Search for the company on the Companies House register</a> to find the date.</p>

      <p>Relevant legal entities (RLEs) must identify a relevant officer (the equivalent of a director). As a relevant officer, you must verify your identity as soon as possible, but no later than 28 days after the due date of the next confirmation statement.</p>

      <h3 class="govuk-heading-s">New PSCs of existing companies</h3>

      <p>Verify your identity as soon as possible, but no later than 14 days after the company gives notice to Companies House. </p>

      <p>Relevant legal entities (RLEs) must identify a relevant officer (the equivalent of a director). As a relevant officer, you must verify your identity as soon as possible, but no later than 28 days after the company gives notice to Companies House. </p>

      <h3 class="govuk-heading-s">If you file at Companies House</h3>

      <p>From [date], you must verify your identity before you make your next filing at Companies House.</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            When to verify if you have multiple roles in a company
          </span>
        </summary>
        <div class="govuk-details__text">
          For directors, verify your identity as soon as possible, but no later than the due date of the next confirmation statement.
        </div>
      
        <div class="govuk-details__text">
          For PSCs, verify your identity as soon as possible, but no later than 14 days after the due date of the next confirmation statement.
        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            When to verify if you have multiple companies
          </span>
        </summary>
        <div class="govuk-details__text">
          Verify your identity as soon as possible, but no later than the date when the earliest confirmation statement is due. <a href="https://find-and-update.company-information.service.gov.uk/" class="govuk-link govuk-link--no-visited-state">Search for the companies on the Companies House register</a> to find the dates.</p> 
        </div>
      </details>

      <h2 id="content-5" class="govuk-heading-m">What happens if you do not verify</h2>

      <p>There will be a transition period until [date] so that you have time to do what is required by the regulations.</p>

      <p>If you do not verify your identity in time, you are committing an offence. The public register will show that you are not verified.</p>

      <p class="govuk-body">You could also:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>get a maximum fine of £XXX</li>
        <li>be stopped from acting as a director</li>
        <li>be unable to make any filings for your company</li>
        <li>be unable to start a new company</li>
      </ul>
    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
