{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  {{ govukTag({
    classes: "govuk-tag--blue govuk-!-margin-bottom-4",
    text: "version 3"
  }) }}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <a href="start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start now
      </a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m" id="authScreens">Individual screen links</h2>
      <ul class="govuk-list govuk-list--bullet">
           <li>
          <a class="govuk-link govuk-link--no-visited-state" href="chs/search">CHS search page</a>
        </li> 
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="start">Start page</a>
        </li>  
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="guidance">Guidance</a>
        </li>  
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="route">How would you like to verify your identity with Companies House?</a>
        </li>  
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="resident">Do you live in the UK?</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="id-check">What type of photo ID do you have?</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="sign-in">Sign in</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="alternative-provider">Alternative provider</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="one-login-intro">You are about to be redirected to One login</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="one-login-start">One login start</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="one-login-working">One login working</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="one-login-exit">One login Exit</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="verified-success">successfully verified</a>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m" id="authScreens">Changes to the prototype in this version</h2>
      <ul class="govuk-list govuk-list--bullet">      
        <li>
          TBD
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m" id="authScreens">User research</h2>
      <ul class="govuk-list govuk-list--bullet">      
        <li>
          <a class="govuk-link govuk-link--no-visited-state" target="_blank" href="#">TBD</a>
        </li>
      </ul>




         <h2 class="govuk-heading-xl govuk-!-margin-top-9" id="oneLogin">
       One Login
      </h2>

      {# <a href="psc-verification/start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start now
      </a> #}

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m" id="pscScreens">Authenticate: individual screen links</h2>
      <ul class="govuk-list govuk-list--bullet">
           <li>
          <!--<a class="govuk-link govuk-link--no-visited-state" href="one-login/enter-email">#-->Create a GOV.UK One Login or sign in<!--</a>-->
        </li>
            <li>
          <a class="govuk-link govuk-link--no-visited-state" href="one-login/enter-email">Enter your email address to sign in</a>
        </li>
          <li>
          <a class="govuk-link govuk-link--no-visited-state" href="one-login/check-your-email">Check your email</a>
        </li>
           <li>
          <a class="govuk-link govuk-link--no-visited-state" href="one-login/enter-password">Enter your password</a>
        </li>  
         <li>
          <a class="govuk-link govuk-link--no-visited-state" href="one-login/enter-email-create">Enter your email address</a>
        </li>  
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="one-login/create-password">Create your password</a>
        </li>  
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="one-login/account-created">You’ve created your GOV.UK One Login</a>
        </li>  
      
      <li>
          <a class="govuk-link govuk-link--no-visited-state" href="one-login/check-your-phone">Check your phone</a>
        </li>  
      <li>
          <a class="govuk-link govuk-link--no-visited-state" href="one-login/email-notification-one-login">Your security code (email)</a>
        </li>  
     
    
   
    <li>
          <a class="govuk-link govuk-link--no-visited-state" href="one-login/enter-phone-number">Enter your mobile phone number</a>
        </li>
         <li>
          <a class="govuk-link govuk-link--no-visited-state" href="one-login/enter-code">Check your phone (to sign in)</a>
        </li>  
      </ul>






         <h2 class="govuk-heading-xl govuk-!-margin-top-9" id="pscVerification">
        Verify your identity as a person with significant control (PSC) with Companies House
      </h2>

      <a href="psc-verification/start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start now
      </a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m" id="pscScreens">Individual screen links</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="psc-verification/start">Start page</a>
        </li>  
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="psc-verification/sign-in">Sign in</a>
        </li>  
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="psc-verification/company-number">What is the company number?</a>
        </li>  
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="psc-verification/correct-company">Confirm this is the correct company</a>
        </li>
            <li>
          <a class="govuk-link govuk-link--no-visited-state" href="psc-verification/pscs">Which person with significant control (PSC) are you?</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="psc-verification/psc-statement">Declaration/PSC statement</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="psc-verification/psc-verified-success">'Success'</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="psc-verification/psc-verified-failure">'Failure'</a>
        </li>
      </ul>

    </div>
  </div>





{% endblock %}
