{% extends "layouts/main.html" %}

{% block pageTitle %}
Are you resident in the UK?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorResident %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form action="{{currentUrl}}" method="post">

      <!-- Check for error -->
      {% if errorResident %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" aria-describedby="is-resident-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
            Do you have a home address in the UK?
            </h1>
            
          </legend>
          <div id="has-ID-hint" class="govuk-hint">
            We only ask this to find out if you can use GOV.UK One Login. You do not need to provide any proof.  
          </div>
          <!-- Check for error -->
          {% if errorResident %}
          <p id="is-resident-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select yes if you have a home address in the UK
          </p>
          {% endif %} 
          <div id="is-resident-hint" class="govuk-hint">
            
          </div>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="is-resident" name="is-resident" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="is-resident">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="is-resident-2" name="is-resident" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="is-resident-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
