{% extends "layouts/main.html" %}

{% block pageTitle %}
How would you like to verify your identity with Companies House?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorRoute %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form action="{{currentUrl}}" method="post">

      <h1 class="govuk-heading-l">Choose a way to verify</h1>
      <h2 class="govuk-heading-m">Option 1: verify with GOV.UK online</h2>
                  
      <p class="govuk-body">You can use GOV.UK One Login if you have any of the following: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a home address in the UK</li>
        <li>a biometric passport from any country</li>
        <li>a UK photo driving licence</li>
      </ul>

      <p class="govuk-body">If you do not have a biometric ID but you live in the UK, GOV.UK will guide you through an in-person service. </p>

      <p class="govuk-body">When your identity is verified with One Login, it will also be valid for use with HMRC and the DWP.</p>

      {{ govukDetails({
        summaryText: "What is a biometric passport?",
        text: "Biometric passports have a small rectangular symbol on the front cover. You can use them to go through electronic gates at airports and international train stations."
      }) }}

      <h2 class="govuk-heading-m">Option 2: verify with an authorised agent </h2>
    
      <p class="govuk-body">Everyone can ask an authorised agent (such as an accountant or solicitor) to verify their identity on their 
        behalf. You can do this from any country, but your agent must be registered in the UK.</p>

      <p class="govuk-body">If you verify with your authorised agent, your identity will only be verified for Companies House.</p>
    
      <!-- Check for error -->
      {% if errorRoute %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" aria-describedby="which-route-hint">
          <!-- Check for error -->
          {% if errorRoute %}
          <p id="which-route-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select how you want to verify your identity
          </p>
          {% endif %} 
        
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">
            <h3 class="govuk-fieldset__heading govuk-!-margin-top-5">
              How do you want to verify your identity with Companies House?
            </h3>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="which-route" name="which-route" type="radio" value="gov">
              <label class="govuk-label govuk-radios__label" for="which-route">
                Verify with GOV.UK One Login
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="which-route-2" name="which-route" type="radio" value="acsp">
              <label class="govuk-label govuk-radios__label" for="which-route-2">
                Verify with an authorised agent 
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
