{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter your password – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Check your phone</h1>
      <div class="govuk-inset-text">
        We have sent a code to your phone number ending with <b>137</b>
      </div>

      <p class="govuk-body">It might take a few minutes to arrive. The code will expire after 15 minutes.</p>

      <div class="govuk-form-group">
        <label class="govuk-label" for="securityCode">
          Enter the 6 digit security code
        </label>
        <input class="govuk-input govuk-input--width-10" id="securityCode" name="securityCode" type="text">
      </div>

    {{ govukButton({
      text: "Continue",
      href: "isle-of-man"
    }) }}

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Problems with the code?
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">We can <a href="guidance" class="govuk-link">send the code again </a>if the code is not working or you did not receive it.</p>

        <p class="govuk-body">If you cannot access the phone number for your GOV.UK One Login, you can securely<a href="guidance" class="govuk-link">change how you get security codes</a>.</p>
      </div>
    </details>

  </div>
</div>

{% endblock %}
