{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter your password – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/welsh-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="{{currentUrl}}" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Do you live in the UK, the Channel Islands or the Isle of Man?
            </h1>
          </legend>   
          <div id="isleOfMan-hint" class="govuk-hint">
            How you can prove your identity depends on where you live.
          </div>    
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="isleOfMan" name="isleOfMan" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="isleOfMan">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="isleOfMan-2" name="isleOfMan" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="isleOfMan-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
