{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  {{ govukTag({
    classes: "govuk-tag--blue govuk-!-margin-bottom-4",
    text: "Release 2 - version 2"
  }) }}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
       Verify your identity for Companies House <span class="govuk-caption-xl">(and then verify your appointments, if applicable)</span>
      </h1>

      <form id="v2-general" action="start">
        <p>
          <input type="hidden" name="version" id="version" value="general" />
          <a role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" href="#" onclick="document.getElementById('v2-general').submit();">
            Start</a>
        </p>
      </form>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m" id="authScreens">Individual screen links</h2>

      <h3 class="govuk-heading-s">Pre one login</h3>

      <ul class="govuk-list govuk-list--bullet">
    
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../pre-one-login/guidance">Guidance</a>
        </li>  
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../pre-one-login/guidance-when">Guidance - When you need to verify (1st release)</a>
        </li> 
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../pre-one-login/you-need-to-verify">you-need-to-verify</a>
        </li>  
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../pre-one-login/ascp-route">ASCP route</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../pre-one-login/one-login-intro">You are about to be redirected to One login</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../pre-one-login/already-verified">already-verified</a>
        </li>
      </ul>

      <h3 class="govuk-heading-s">One login</h3>

      <ul class="govuk-list govuk-list--bullet"> 
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../pre-one-login/one-login-start">One login start</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../one-login/one-login-id">one login id</a>
        </li>  
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../one-login/one-login-post-office">one login post office</a>
        </li> 
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../one-login/one-login-another-way">one login another way</a>
        </li>  
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../one-login/one-login-working">one login working..</a>
        </li>    
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../one-login/success">success</a>
        </li>    
      </ul>

      <h3 class="govuk-heading-s">Post One login</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../post-one-login/verified-success-sole-trader.html">verified-success-sole-trader</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../post-one-login/failure-blocked.html">Failed - blocked</a><strong class="govuk-tag govuk-tag--yellow">
            Awaiting decisions from stakeholders
          </strong>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../post-one-login/failure-evidence.html">Failed - evidence</a>
        </li>
      </ul>

      <h3 class="govuk-heading-s">Error pages</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../pre-one-login/service-unavailable.html">service-unavailable</a>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m" id="authScreens">Changes to the prototype in this version</h2>
      <ul class="govuk-list govuk-list--bullet">      
        <li>
          tbd
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m" id="authScreens">User research</h2>
      <ul class="govuk-list govuk-list--bullet">      
        <li>
          <a class="govuk-link govuk-link--no-visited-state" target="_blank" href="#">tbd</a>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m" id="authScreens">Journey flow</h2>
      <ul class="govuk-list govuk-list--bullet">      
        <li>
          <a class="govuk-link govuk-link--no-visited-state" target="_blank" href="#">tbd</a>
        </li>
      </ul>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m">
        IDV services
      </h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Links</th>

            <th class="govuk-table__header" scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="https://register-an-acsp-prototype.herokuapp.com/" target="_blank">Register as an Authorised Corporate Service Provider</a>
            </td>
          
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">
                PROTOTYPE
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="https://idv-sign-in-prototype-7fe752c06ff9.herokuapp.com/" target="_blank">IDV Sign in prototype</a>
            </td>
          
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">
                PROTOTYPE
              </strong>
            </td>
          </tr>
        </tbody>
      </table>




        
    </div>
  </div>





{% endblock %}
