{% extends "layouts/main.html" %}

{% block pageTitle %}
Are you resident in the UK?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      We’re taking you to verify your identity with GOV.UK 
    </h1>

    <h3 class="govuk-heading-s">
      With the GOV.UK mobile app  
    </h3>

    <p class="govuk-body">If you verify online, you can download an app to scan your biometric ID. It’s the fastest and easiest way to verify. It’s secure to use any up-to-date smart phone, the app doesn’t store your information. </p>

    <h3 class="govuk-heading-s">
      Without the GOV.UK mobile app  
    </h3>

    <p class="govuk-body">You can continue without using the app. You 
      will be asked some questions about your financial history to 
      verify your identity. </p>

    <h3 class="govuk-heading-s">
      If you cannot verify online  
    </h3>

    <p class="govuk-body">GOV.UK One Login will guide you through an in-person alternative route.</p>

    <p class="govuk-body">When you have verified your identity successfully, 
      we'll take you back to Companies House to continue.</p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          GOV.UK One Login and your personal data
        </span>
      </summary>
      <div class="govuk-details__text">

      <p class="govuk-body">The GOV.UK ID Check app only reads your biometric data and communicates this securely to GOV.UK One Login. The data is not stored on the mobile device and your data is secure.  </p>
      
      <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="https://signin.account.gov.uk/privacy-notice">Read more about how GOV.UK One Login handle your data.</a></p>

      <p class="govuk-body">When you have verified your identity successfully, we'll take you back to Companies House to continue. </p>

      </div>
    </details>

      {{ govukButton({
        text: "Continue",
        href: "one-login-start"
      }) }}

  </div>
</div>

{% endblock %}
