{% extends "layouts/main.html" %}

{% block pageTitle %}
  We're taking you to one login
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      We’re taking you to verify your identity with GOV.UK 
    </h1>

    <h3 class="govuk-heading-s">
      With the GOV.UK mobile app  
    </h3>

    <p class="govuk-body">If you verify online, you can download an app to scan your biometric ID. It’s the fastest and easiest way to verify. It’s secure to use any up-to-date smart phone, the app doesn’t store your information. </p>

    <h3 class="govuk-heading-s">
      Without the GOV.UK mobile app  
    </h3>

    <p class="govuk-body">You can continue without using the app. You 
      will be asked some questions about your financial history to 
      verify your identity. </p>

    <h3 class="govuk-heading-s">
      If you cannot verify online  
    </h3>

    <p class="govuk-body">GOV.UK One Login will guide you through an in-person alternative route.</p>

    <div class="govuk-inset-text">
      When you have verified your identity successfully, 
      we'll take you back to Companies House to continue.
    </div>
    

    {{ govukButton({
      text: "Continue",
      href: "one-login-start"
    }) }}

  </div>
</div>

{% endblock %}
