{% extends "layouts/main.html" %}

{% block pageTitle %}
  Alternative provider
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Verify with a Companies House authorised agent 
      </h1>

      <p class="govuk-body">Ask an authorised agent (such as an accountant or solicitor) to verify your identity with Companies House on your behalf.  
      </p>
    
      <p class="govuk-body">Your identity will only be verified for Companies House, 
        not any other government service or department.  </p>

      <h2 class="govuk-heading-s">If your agent is not yet authorised </h2>

      <p class="govuk-body">Agents must register with Companies House in order to 
        become authorised.     
      </p>
        
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Who can be an authorised agent
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">The agent must be registered in the UK with Companies House as an authorised agent - also known as an Authorised Corporate Service Provider (ACSP). They must be registered with an Anti-Money Laundering (AML) supervisory body.
          </p>
          <p class="govuk-body">They could be:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>accountants</li>
            <li>solicitors</li>
            <li>company formation agents</li>
          </ul>
        </div>
      </details>

      <h2 class="govuk-heading-s">What happens next</h2>

      <p class="govuk-body">When your authorised agent has agreed to verify your identity on your behalf, they will ask you to provide proof of your address and identity. 

      <p class="govuk-body"> <a href="https://www.gov.uk/government/publications/proof-of-identity-checklist/proof-of-identity-checklist#proof-of-identity-checklist-for-individuals" 
      class="govuk-link govuk-link--no-visited-state">Find out which documents you can use to prove your identity in the UK</a>.</p>    

    </div>
  </div>

{% endblock %}
