{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- Check for error -->
      {% if errorAnotherPsc %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
      {% endif %}

      <form action="{{currentUrl}}" method="post">

        <h1 class="govuk-heading-l">Your verified identity is linked to:</h1>

        {% if data['verification-Statement-one'] %}
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">WRIGHT SOLUTIONS LTD (02050399)</h2>
              <ul class="govuk-summary-card__actions">
              </ul>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    PSC name
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Sally Louise Harris
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    PSC Date of birth
                  </dt>
                  <dd class="govuk-summary-list__value">
                    April 1986
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    PSC Correspondence address
                  </dt>
                  <dd class="govuk-summary-list__value">
                    100 Long Street, Newtown, England, XY1 2BC
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        {% endif %}

        {% if data['verification-Statement-two'] %}
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">CONSTRUCTION 123 LTD (12345678)</h2>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    PSC name
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Sally Harris
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    PSC Date of birth
                  </dt>
                  <dd class="govuk-summary-list__value">
                    April 1986
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    PSC Correspondence address
                  </dt>
                  <dd class="govuk-summary-list__value">
                    100 Long Street, Newtown, England, XY1 2BC
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        {% endif %}

        <h2 class="govuk-heading-m">Do you need to link your verified identity to another company?</h2>
        
        <!-- Check for error -->
        {% if errorAnotherPsc %}
        <div class="govuk-form-group govuk-form-group--error">
        {% else %}
        <div class="govuk-form-group">
        {% endif %} 
          <fieldset class="govuk-fieldset" aria-describedby="psc-another-hint">
            <!-- Check for error -->
            {% if errorAnotherPsc %}
            <p id="psc-another-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Select if you need to link your verified ID to another PSC
            </p>
            {% endif %} 
          
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="psc-another" name="psc-another" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="psc-another">
                  Yes, I am a PSC for another company
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="psc-another-2" name="psc-another" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="psc-another-2">
                  No, I am not a PSC for any other companies
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
