{% extends "layouts/main.html" %}

{% block pageTitle %}
  Verification statement – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/account-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorStatementTwo %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
      <form action="{{currentUrl}}" method="post">

        <!-- Check for error -->
        {% if errorStatementTwo %}
        <div class="govuk-form-group govuk-form-group--error">
        {% else %}
        <div class="govuk-form-group">
        {% endif %} 
          <fieldset class="govuk-fieldset" aria-describedby="verificationStatement-two-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Verification statement
              </h1>
            </legend>
            {% if errorStatementTwo %}
            <p id="verificationStatement-two-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>Confirm if the verification statement is correct
            </p>
            {% endif %}
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="verification-Statement-two" name="verification-Statement-two" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label" for="verification-Statement-two">
                  I, <strong>Sally Louise Harris</strong>, declare I have verified my identity as a person with significant control (PSC) for CONSTRUCTION 123 LTD (12345678).
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
            text: "Continue"
          }) }}  
      </form>

    </div>
  </div>
{% endblock %}
